{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h5>ORDERS LIST</h5>
                   
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Orders List</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


       
        <div class="row">
       
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-xxl-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        
                                        <form method="POST" action="{% url 'ordersearch' %}" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="row">
                                                <div class="col-xl-12">
                                                   
                                                    <div class="form-group row">
                                                      
                                                        <div class="col-lg-2">
                                                           
                                                        <input class="form-control" id="search" name="startingdate" type="text" placeholder="Start Invoice date" onfocus="(this.type='date')" style="margin-top:18%">


                                                        </div>
                                                        <div class="col-lg-2">
                                                            
                                                        <input class="form-control" id="search" name="endingdate" type="text" placeholder="End Invoice date" onfocus="(this.type='date')" size="10" style="margin-top:18%">


                                                        </div>
                                                        <div class="col-lg-2">
                                                           
                                                        <select class="form-control" id="search" name="status" style="margin-top:18%">
                                                            <option value="">Status</option>
                                                            <option value="Ordered">Ordered</option>
                                                            <option value="Accepted">Accepted</option>
                                                            <option value="Completed">Completed</option>
                                                            <option value="Order Cancel">Order Cancel</option>
                                                            <option value="Customer Cancel"> Customer Cancel</option>
                                                            <option value="Delivered"> Delivered</option>
                                                            <option value="Added to Cart"> Added to Cart</option>
                                                            <option value="Out of Delivery"> Out of Delivery</option>
                                                            <option value="Refund Initiated"> Refund Initiated</option>
                                                            <option value="Return And exchange"> Return And exchange</option>
                                                            </select>
                        
                        
                                                        </div>

                                                        <div class="col-lg-2">
                                                           
                                                        <input class="form-control" id="search" name="customer_name" style="margin-top:18%" placeholder="Customer Name">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <button class="btn btn-primary" type="submit" style="margin-top:18%">Search</button> 
                                                            <a href= "{% url 'listOrders' %}"><button class="btn btn-primary" type="button" style="margin-top:18%">Reset</button></a>                                                  
                                                      </div>
                                                  
                                                    </div>
                                                   
                                           
                                                  
                                                </div>
                                           
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered header-border table-responsive-md" >
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Order date</th>
                                        <th>Order Total</th>
                                        <th>Payment Method</th>
                                        <th>Payment Status</th>
                                        <th>Delivery Date</th>
                                        <th>Status</th>
                                        <th>Customer </th>
                                        <th>Edit</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in response %}


                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.order_date|date:'Y-m-d'}}</td>
                                        <td>{{order.order_total}}</td>
                                        <td>{{order.payment_method}}</td>
                                        <td>{{order.payment_status}}</td>
                                        <td>{{order.delivery_date |date:'Y-m-d'}}</td>
                                        <td>{{order.status}}</td>
                                        <td>{{order.user_id}}</td>
                                        <td>
                                            <button class="btn btn-primary"><a href="{% url 'update_order' order.id %}"></i>Edit</button>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
         </div>
        </div>
    </div>
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable({
            "lengthChange": false,
            "pageLength": 10,
            "ordering":false
        });
    });
</script> 
<script>
     function addId(id){
        document.getElementById('productDel').value = id
    }
</script>


{% endblock %}