{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            {% for j in details %}
                    <h3>Orderdetails ID  :{{j.orderDetails_id}}</h3>
                    {% endfor %}
                    <a href= "{% url 'listOrders' %}"><button class="btn btn-primary" type="submit">List Order</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Order</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-9 col-xxl-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Order</h5>
                                        {% for i in order %}
                                    <form method="POST" action="{% url 'updateOrders' %}" id="orderForm">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Order Total -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Order Total <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='order_total' value="{{i.order_total}}" required>
                                            </div>
                                            <!-- Payment Method -->
                                            <input type="hidden" value="{{i.id}}" name="orderid" >
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Payment Method <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='payment_method' value="{{i.payment_method}}" required >
                                            </div>

                                        
                                            
                                        </div>    
                                        <div class="form-group row">
                                            <!-- Status-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Status <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <select class="form-control" id="exampleFormControlSelect1" name='status'value="{{i.status}}">
                                                    <option> {{i.status}}</option>
                                                                 <option > Completed</option>
                                                                 <option > Ordered</option>
                                                                 <option > Accepted</option>
                                                                 <option > Order Cancel</option>
                                                                 <option > Customer Cancel</option>
                                                                 <option > Delivered</option>
                                                                 <option> Added to Cart</option>
                                                                 <option> Out of Delivery</option>
                                                                 <option> Refund Initiated</option>
                                                                 <option> Return And exchange</option>
                                                         </select> 
                                                         </div>
                                            <!-- Delivery Date -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Delivery Date
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='delivery_date' value="{{i.delivery_date |date:'Y-m-d'}}">
                                            </div>

                                        
                                            <input type="hidden" value="{{i.id}}" name="orderid" >   
                                        </div> 
                                        <div class="form-group row">
                                            <!-- Order Date-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Order Date<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text"  name='order_date' value="{{i.order_date |date:'Y-m-d'}}" >
                                            </div>
                                            <!-- Is Deliverd-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Is Deliverd
                                                </label>
                                                <select class="form-control" id="exampleFormControlInput1"  name='Is_delivered' >
                                                    <option value="None" {% if i.Is_delivered == "" %}selected{% endif %}> Unknown</option> 
                                                    <option value="Yes"{% if i.Is_delivered == True %}selected{% endif %}>Yes</option>
                                                    <option value="No" {% if i.Is_delivered == False %}selected{% endif %}>No</option>
                                                </select>
                                                
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <!-- payment status-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Payment Status<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <select class="form-control" id="exampleFormControlInput1" name='payment_status'  >
                                                <option value="None"{% if i.payment_status == "" %}selected{% endif %} > Unknown</option> 
                                                <option value="Yes"{% if i.payment_status == True %}selected{% endif %}>Yes</option>
                                                <option value="No"{% if i.payment_status == False %}selected{% endif %}> No</option>
                                            </select>
                                            </div>
                                            <!-- Courier-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <div id="appending"  >
                                                    <div id="div"  >
                                                         <select 
                                                        name='combination_id[]'required="True" hidden>
                                                        {% for j in details %}
                                                        
                                                        
                                                           <option value="{{j.orderDetails_id}}" >{{j.orderDetails_id}}</option>
                                                           {% endfor %}
                                                        </select>
                                                     <select class="form-control"
                                                     name='combination_id1[]' required="True">
                                                     {% for j in courier %}
                                                    
                                                        
                                                        <option value="{{j.id}}"{% if  i.Select_courier_id == j.id %} selected {% endif %}  >{{j.name}}</option>
                                                        {% endfor %}
                                                     </select>
                                                    </div>
                                                    </div>
                                                
                                            </div>

                                        
                                            
                                        </div> 
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href= "{% url 'listOrders' %}"><button class="btn btn-light" type="button">cancel</button></a>
                                    </form>
                                    {% endfor %}
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>


                <script type="text/javascript"> 
                    $(document).ready(function() {
                        var i = 1;
                        $('#add').on('click',  function() {
                        var field = '<br><div>Select Orderdetails : <select  name="combination_id[]"> <option >---select---</option>{% for  j in details %}<option value="{{j.id}}">{{j.orderDetails_id}}{% endfor %}</option></select>&nbsp; Courier :  <select  name="combination_id1[]"> <option >---select---</option>{% for  j in courier %}<option value="{{j.id}}">{{j.name}}{% endfor %}</option></select>&nbsp;&nbsp;<button class="delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></div>';
                        $('#appending_div').append(field);
                        i = i+1;   
                        })                                
                        })
                        $('#appending_div').on("click", ".delete", function(e) {
                                e.preventDefault();
                                $(this).parent('div').remove();
                                
                            })
                </script>
































<!-- <style>
    .add {
        cursor: pointer;
    }
     .col1 {
      column-count: 3;
      column-gap: 50px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                <main class="mt-100 mb-100">
                   <div class="container">
                    {% for j in details %}
                    <h1> <h7>Orderdetails ID  :{{j.orderDetails_id}}</h7></h1>
                    {% endfor %}
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                        <div class="row">
                            
                            <div class="col-md-8">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        
                                        <h5>Update Order  </h5>
                                        
                                        
                                        
                                        
                                        <br>
                                        {% for i in order %}
                                        
                                        <form method="POST" action="{% url 'updateOrders' %}" id="orderForm">
                                        {% csrf_token %}
                                            <div class="">
                                                <div class="col1">
                                                  <div class="">
                                            <label for="exampleFormControlInput1">Order Total</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='order_total' value="{{i.order_total}}" >
                                        </div>
                                        <div class="">
                                        <div class="">
                                            <label for="exampleFormControlInput1">Payment Method</label>
                                            
                                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='payment_method' value="{{i.payment_method}}" >
                                            
                                        </div>
                                        </div>
                                        <input type="hidden" value="{{i.id}}" name="orderid" >
                                        <div>
                                        </div>
                                        <div class="">
                                        <div class="">
                                            <label for="exampleFormControlInput1"></label>
                                           <select class="form-control" id="exampleFormControlSelect1" name='status'value="{{i.status}}">
                                           <option> {{i.status}}</option>
                                                        <option > Completed</option>
                                                        <option > Ordered</option>
                                                        <option > Accepted</option>
                                                        <option > Order Cancel</option>
                                                        <option > Customer Cancel</option>
                                                        <option > Delivered</option>
                                                        <option> Added to Cart</option>
                                                        <option> Out of Delivery</option>
                                                        <option> Refund Initiated</option>
                                                        <option> Return And exchange</option>
                                                </select>
                                            </div>
                                        </div>
                                            </div>
                                            <div class="">
                                                <div class="col1">
                                                <div class="">
                                                        </div>
                                                <div class="">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Delivery Date</label>
                                                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='delivery_date' value="{{i.delivery_date |date:'Y-m-d'}}"  >
                                                </div>
                                                </div>
                                                <input type="hidden" value="{{i.id}}" name="orderid" >
                                                <div>
                                                </div>
                                                <div class="">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Order Date</label>
                                                    <input class="form-control" id="exampleFormControlInput1" type="text"  name='order_date' value="{{i.order_date |date:'Y-m-d'}}" >
                                                </div>
                                            </div>
                                            </div>
                                            <div class="">
                                                <div class="col1">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Is Deliverd</label>
                                                    <select class="form-control" id="exampleFormControlSelect1" name='Is_delivered' >
                                                       
                                                        
                                                        <option value="None" {% if i.Is_delivered == "" %}selected{% endif %}> Unknown</option> 
                                                        <option value="Yes"{% if i.Is_delivered == True %}selected{% endif %}>Yes</option>
                                                        <option value="No" {% if i.Is_delivered == False %}selected{% endif %}>No</option>
                                                    </select>
                                                        </div>
                                                <div class="">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Payment Status</label>
                                                <select class="form-control" id="exampleFormControlSelect1" name='payment_status'  >
                                                   
                                                    
                                                    <option value="None"{% if i.payment_status == "" %}selected{% endif %} > Unknown</option> 
                                                    <option value="Yes"{% if i.payment_status == True %}selected{% endif %}>Yes</option>
                                                    <option value="No"{% if i.payment_status == False %}selected{% endif %}> No</option>
                                                </select>
                                                </div>
                                                </div>
                                                <input type="hidden" value="{{i.id}}" name="orderid" >
                                                <div>
                                                </div>
                                                <div class="">
                                                <div class="">
                                                   
                                                </div>
                                            </div>
                                            </div>
                                            <div class="input-group mb-3">
                                            <div class="form-group">
                                              
                                            </div>
                                        </div>
                                        <div id="appending"  >
                                            <div id="div"  >
                                                 <select 
                                                name='combination_id[]'required="True" hidden>
                                                {% for j in details %}
                                                
                                                
                                                   <option value="{{j.orderDetails_id}}" >{{j.orderDetails_id}}</option>
                                                   {% endfor %}
                                                </select>
                                             &nbsp;Courier :  <select 
                                             name='combination_id1[]' required="True">
                                             {% for j in courier %}
                                            
                                                
                                                <option value="{{j.id}}"{% if  i.Select_courier_id == j.id %} selected {% endif %}  >{{j.name}}</option>
                                                {% endfor %}
                                             </select>
                                            </div>
                                            </div>
                                        </form>
                                        </div>
                                        <br><br>
                                       
                                        <button class="btn btn-primary" type="submit" value="save" form="orderForm">Update</button>
                                    </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        <br><br>
                                        <div class="row">
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript"> 
                                $(document).ready(function() {
                                    var i = 1;
                                    $('#add').on('click',  function() {
                                    var field = '<br><div>Select Orderdetails : <select  name="combination_id[]"> <option >---select---</option>{% for  j in details %}<option value="{{j.id}}">{{j.orderDetails_id}}{% endfor %}</option></select>&nbsp; Courier :  <select  name="combination_id1[]"> <option >---select---</option>{% for  j in courier %}<option value="{{j.id}}">{{j.name}}{% endfor %}</option></select>&nbsp;&nbsp;<button class="delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></div>';
                                    $('#appending_div').append(field);
                                    i = i+1;   
                                    })                                
                                    })
                                    $('#appending_div').on("click", ".delete", function(e) {
                                            e.preventDefault();
                                            $(this).parent('div').remove();
                                            
                                        })
                            </script>
                            
                </main>
                
               
{% endblock %} -->