{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <!-- Datatable -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div id="main-wrapper">

    <!--**********************************
        Main wrapper start
    ***********************************-->
  
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{% url 'dashboard' %}" class="brand-logo">
                <img class="logo-abbr" src="{% static 'images/logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'images/logo-text.png'%}" alt="">
                <img class="brand-title" src="{% static 'images/logo-text.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <!-- <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li> -->
                                    </ul>
                                    <a class="all-notification" href="{% url 'listOrders' %}">See all Orders<i
                                            ></i> {% if ordered %}<b style="color: red;">{{ ordered }}</b>{% else %}<b style="color: green;">{{ ordered }}</b>{% endif%}</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile"><b style="color:purple;">{{request.session.user}}</b>
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="{% url 'logout' %}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a href="{% url 'dashboard' %}" aria-expanded="false"><i
                                class="icon icon-home"></i><span class="nav-text">Dashboard</span></a>
                   
                    </li>
                    <li><a href="{% url 'listOrders' %}" aria-expanded="false"><i class="fa fa-shopping-cart"></i><span
                        class="nav-text">Orders</span></a></li>
                   
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Banner</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'listMobilebanners' %}">Mobile Banner</a></li>

                            <li><a href="{% url 'listWebbanners' %}">Web Banner</a></li>
                            <!-- <li><a  href="{% url 'listProductVariations' %}">
                                Variations</li> -->
                            </a>
                        </ul>
                    </li>
                   
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Product</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'listProduct' %}">Product</a></li>
                            <li><a href="{% url 'listUnit' %}">Unit</a></li>
                            <li><a href="{% url 'listPincode' %}">Pincode</a></li>
                            <li><a href="{% url 'listZone' %}">Zone</a></li>
                            <li><a href="{% url 'listFoot' %}">Footwear Chart</a></li>
                            <li><a href="{% url 'listDresschart' %}">Dress Chart</a></li>
                            <li><a href="{% url 'listCoupon' %}">Coupons</a></li>
                            <li><a href="{% url 'imageupload' %}">Bulkupload Images</a></li>
                            <li><a href="{% url 'uploadproduct' %}"> Bulkupload Products</a></li>
                     
                        </ul>
                    </li>
                    <li><a href="{% url 'listcustomers' %}" aria-expanded="false"><i class="fa fa-user"></i><span
                        class="nav-text">Customer</span></a></li>
                        <li><a href="{% url 'listCourier' %}" aria-expanded="false"><i class="fa fa-truck" aria-hidden="true"></i>
                            <span
                            class="nav-text">Courier</span></a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="fa fa-file"></i><span class="nav-text">Reports</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'reportlistsales' %}">Sales</a></li>
                            <li><a href="{% url 'reportlistproduct' %}">Product</a></li>
                            <li><a href="{% url 'reportlistcustomer' %}">Customer</a></li>
                           
                        </ul>
                    </li>
                     <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="fa fa-cog"></i><span class="nav-text">Settings</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'listOrganization' %}">Add Organization</a></li>

                           
                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="fa fa-bell"></i><span class="nav-text">Notification</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'PushNotification' %}">Push Notifications</a></li>
                    <li><a href="{% url 'SMSNotification' %}">SMS Notifications</a></li>
                    <li><a href="{% url 'EmailNotification' %}">Email Notifications</a></li>
                   

                </ul>
            </li>

                  
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
       
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> 
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->
       
            {% block content %}
            {% endblock %}


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
    <script src="{% static 'js/quixnav-init.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>


    <!-- Vectormap -->
    <script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'vendor/morris/morris.min.js' %}"></script>


    <script src="{% static 'vendor/circle-progress/circle-progress.min.js'%}"></script>
    <script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'vendor/gaugeJS/dist/gauge.min.js' %}"></script>

    <!--  flot-chart js -->
    <script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.resize.js'%}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'vendor/owl-carousel/js/owl.carousel.min.js'%}"></script>

    <!-- Counter Up -->
    <script src="{% static 'vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>


    <script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <!-- Form validate init -->
    <script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>

    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <!-- Form validate init -->
    <script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>
    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js'%}"></script>

</body>

</html>