{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>ADD COUPON</h3>
                    <a href= "{% url 'listCoupon' %}"><button class="btn btn-primary" type="submit">List Coupon</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Foot Wear Chart</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Add Coupon</h5>
                                    <form method="POST" action="{% url 'addCoupon' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Coupon Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Coupon Name<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' required >
                                            
                                            <!-- Coupon Number-->
                                            
                                                <label class="col-form-label" for="val-product">Coupon <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon'required >
                                            <!-- Flat Values -->
                                            
                                            <label class="col-form-label" for="val-product">Flat Value <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value' required >
                                       
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'listCoupon' %}"><button class="btn btn-light" type="button">back</button></a>
                                    
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>
            

















































                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Coupons</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5 class="p-2 ">ADD COUPON</h5>
                                        

                                        <form method="POST" action="#" id="couponform">{% csrf_token %}
                                            <div class="input-group mb-3 p-2">
                                               
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput1">Coupon Name</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' >
                                        </div>
                                        </div>
                                        <div class="input-group mb-3 p-2">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Coupon</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon' >
                                        </div>
                                        <div class="input-group mb-3 p-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Flat Value</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value'  >
                                            </div>
                                        
                                           
                                            </div>
                                        </form>
                                        <button class="btn btn-primary" type="submit" form="couponform">Add</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listCoupon' %}"><button class="btn btn-primary" type="submit">Back</button></a>
    <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Coupons</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5 class="p-2 ">ADD COUPON</h5>
                                        

                                        <form method="POST" action="#" id="couponform">{% csrf_token %}
                                            <div class="input-group mb-3 p-2">
                                               
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput1">Coupon Name</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' >
                                        </div>
                                        </div>
                                        <div class="input-group mb-3 p-2">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Coupon</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon' >
                                        </div>
                                        <div class="input-group mb-3 p-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Flat Value</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value'  >
                                            </div>
                                        
                                           
                                            </div>
                                        </form>
                                        <button class="btn btn-primary" type="submit" form="couponform">Add</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listCoupon' %}"><button class="btn btn-primary" type="submit">Back</button></a>
    
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </main>
               
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </main>
                -->
{% endblock %}