{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Update COUPON</h3>
                    <a href= "{% url 'listCoupon' %}"><button class="btn btn-primary" type="submit">List Coupon</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Coupon</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Coupon</h5>
                                    <form method="POST" action="{% url 'update_Coupon' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Coupon Name -->
                                            {% for i in coupon_ %}
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Coupon Name<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' required value="{{i.coupon_name}}" >
                                            <input type="hidden" name="couponid" value="{{i.id}}" >
                                            <!-- Coupon Number-->
                                            
                                                <label class="col-form-label" for="val-product">Coupon <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon'required value="{{i.coupon}}">
                                            <!-- Flat Values -->
                                            
                                            <label class="col-form-label" for="val-product">Flat Value <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value' required value="{{i.flat_value}}"  >
                                       
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        {% endfor %}
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'listCoupon' %}"><button class="btn btn-light" type="button">back</button></a>
                                    
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>










































                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Coupons</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE COUPON</h5>
                                        
                                        {% for i in coupon_ %}
                                        <form method="POST" action="{% url 'update_Coupon' %}">
                                        {% csrf_token %}
                                            <div class="input-group mb-3">
                                               
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Coupon Name</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' value="{{i.coupon_name}}">
                                        </div>
                                        </div>
                                        <div>
                                        <input type="hidden" name="couponid" value="{{i.id}}" >
                                        </div>
                                        <div class="input-group mb-3">
                                        <div class="form-group">
                                          <div>
                                            <label for="exampleFormControlInput1">Coupon</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon' value="{{i.coupon}}" >
                                        </div>
                                        <div class="form-group">
                                            <div>
                                              <label for="exampleFormControlInput1">Flat Value</label>
                                              <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value' value="{{i.flat_value}}" >
                                          </div>
                                           </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </main> -->
               
{% endblock %}