{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>List Coupon</h3>
                    <a href= "{% url 'addCoupon' %}"><button class="btn btn-primary" type="submit">Add Coupon</button></a>
                   </div>  
                   </div>  
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Coupon List</a></li>
                    </ol>
                </div>
                </div>
                <!-- Row -->

                                      
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Datatable</h4>
                            </div>
                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="example" class="table-bordered display" style="min-width: 845px;padding: 0rem;">
                                                        <thead>
                                                            <tr>
                                                                <th>Coupon id</th>
                                                                <th>Coupon Name</th>
                                                                
                                                               
                                                                <th>Action</th>
                                                    
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for i in coupon %}
                                                
                                                    <tr>
                                                        <td>{{i.id}}</td>
                                                        <td>{{i.coupon_name}}</td>
                                                       
                                                        <td>
                                                            <a href="{% url 'updateCoupon' i.id %}"><i class="fa fa-edit"></i></a>
                                                            <a  href="{% url 'addCoupon' %}?delete=True #modal-default "data-toggle="modal" data-target="#modal-default" onclick="addId({{i.id}});"><i class="fa fa-trash" title="Delete"></i></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        


                                        <div class="modal fade" id="modal-default">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Delete Coupon ?</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <p>Are you sure you want to delete the Coupon?</p>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                      <form action="?delete=True" method="POST" >
                                                        {% csrf_token %}
                                                        <input type="number" name="couponid" id="couponDel" hidden>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </form>
                                                    </div>
                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#table1').DataTable({
                                                    "lengthChange": false,
                                                    "pageLength": 10,
                                                    "ordering":false
                                                });
                                            });
                                        </script> 
                                        <script>
                                             function addId(id){
                                                document.getElementById('couponDel').value = id
                                            }
                                        </script>

















                                    {% endblock %}