
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
        
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(246, 255, 255);

}


.continer{

    background-color: rgb(253, 253, 253);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 400px;

}

.continer h1{

    text-align: center;
    margin: 50px;
}

.form{

    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
}

.form-control label{
    display: block;
    margin-bottom: 5px;

}

.form-control input{
    width: 100%;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid rgb(158, 158, 158);
}


.form-control i.fa-check{

    position: absolute;
    top: 35px;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    color: rgb(60, 199, 94);
    visibility: hidden;

}


.form-control i.fa-close{

    position: absolute;
    top: 35px;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    color: rgb(199, 60, 60);
    visibility: hidden;

}

.form-control input:focus{
    outline: none;
    border: 1px solid rgb(110, 110, 110)
}

.form-control small{
    color: rgb(199, 60, 60);
    visibility: hidden;
}

.form-control span{
    font-size: 14px;
    position: absolute;
    top: 35px;
    right: 0px;
    margin-right: 30px;
    visibility: hidden;


}
.form-control span.strong{
    color: rgb(60, 199, 94);
    visibility: hidden;

}

.form-control span.middle{
    color: rgb(248, 211, 0);
    visibility: hidden;

}

.form-control span.week{
    color: rgb(199, 60, 60);
    visibility: hidden;

}

.form button.btn{
    width: 100%;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(238, 155, 0);
    color: #fff;
 
    
}

.form-control .sucsess input{
    border: 1px solid rgb(60, 199, 94);
}

.form-control.error input{
    border: 1px solid rgb(199, 60, 60);
}

.form-control.error small{
    visibility: visible;
}




    </style>
   
</head>
<body>

    {%  block start %}

    {% endblock %}

  
    
   
</body>
</html>
