{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Dress wear chart</h3>
                    <a href= "{% url 'listDresschart' %}"><button class="btn btn-primary" type="submit">List Dress Chart</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Dress Wear Chart</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Add Dress wear  Chart</h5>
                                    <form method="POST" action="{% url 'addDresschart' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Country Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Country<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='country' required >
                                            
                                            <!-- Size-->
                                            
                                                <label class="col-form-label" for="val-product">Size <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='size'required >
                                            <!-- Chest -->
                                            
                                            <label class="col-form-label" for="val-product">Chest <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='chest' required>
                                            <!-- front length -->
                                            <label class="col-form-label" for="val-product">Front Length<span
                                                class="text-danger">*</span>
                                            </label>
                                            
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='front_length' required>
                                            <!-- Across Shoulder -->
                                            <label class="col-form-label" for="val-product">Across Shoulder <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='acrross_shoulder' required>
                                       
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'listDresschart' %}"><button class="btn btn-light" type="button">back</button></a>
                                    
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>









{% endblock %}