{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h1>Product</h1>
                            <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
        
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Proudcts</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                           
                            <div class="card-body">
                                <form method="POST" action="{% url 'addProduct' %}" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-12">
                                           
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="val-product">Product Name <span
                                                        class="text-danger">*</span>
                                                </label>
                                                    <input type="text" class="form-control" id="val-product" name='product_name' onchange="getResult(this.value)"required="True" placeholder="Enter Product Name..">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="val-category">Category <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <select  class="form-control" id="category" name='category' onchange="getResult(this.value)" required="True">
                                                    <option value='' >--- Select Category------</option>
                                                    
                                                    {% for i in category %}
                                                            <option value="{{i.id}}"> {{i.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="subcategory">Subcategory 
                                                </label>
                                                <select class="form-control" id="subcategory" name='subcategory'  >
                                                    <option value=0>--- Select Subcategory------</option>
                                                 </select>
                                                </div>
                                              
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image1">Image1<span
                                                        class="text-danger">*</span>
                                                </label>
                                                    <input type="file" class="form-control" id="image1" name='product_image1' required="True" >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image2">Image2
                                                </label>
                                                    <input type="file" class="form-control" id="image2" name='product_image2' >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image3">Image3
                                                </label>
                                                    <input type="file" class="form-control" id="image3" name='product_image3' >
                                                </div>
                                            </div>
                                            <div class="form-group row">
                            
                                                <div class="col-lg-12">
                                                    <label class="col-form-label" for="description">Product Description<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="description" name='product_description' required placeholder="Description.."></textarea>
                                                </div>
                                                </div>
                                                <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label class="col-form-label" for="description">Highlights<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="description" name='highlights' required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label class="col-form-label" for="description">Return Policy<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="description" name='return_policy' required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Net Weight
                                                </label>
                                                    <input class="form-control" id="weight" ntype="number"   onkeypress="return event.charCode >= 48" min="1" name='Net_weight' >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="unit">Unit
                                                </label>
                                                <select  class="form-control" name='units'>
                                                    <option value='0' >--- Select Unit------</option>
                                                    
                                                    {% for i in unit %}
                                                            <option value="{{i.id}}"> {{i.units}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="brand">Brand Name
                                                </label>
                                                    <input type="text" class="form-control" id="brand"  name='brand_name' >
                                                </div>
                                            </div>
                                           
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Number Of Days Of Refund</label>
                                                    <input class="form-control" id="refund" type="number" onkeypress="return event.charCode >= 48" min="1" name='number_of_days_for_refund' >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="unit">Delivery Charge</label>
                                                    <input class="form-control" id="refund" type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_charge' >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="brand">Delivery Days
                                                </label>
                                                    <input class="form-control" type="number"  onkeypress="return event.charCode >= 48" min="1" name='delivery_days' >
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image1">Banner1
                                                </label>
                                                    <input type="file" class="form-control" name='banner1'>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image2">Banner2
                                                </label>
                                                    <input type="file" class="form-control"  name='banner2' >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label">Coupon Code
                                                </label>
                                                <select  cid="exampleFormControlSelect1" class="form-control" name='coupon_code'>
                                                    <option value='0' >--- Select Coupon------</option>
                                                    {% for i in coupon %}
                                                            <option value="{{i.id}}"> {{i.coupon_name}}</option>
                                                    {% endfor %}
                                                </select>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Pincode</label>
                                                    <select  class="form-control" name='pincode'id="exampleFormControlInput1" multiple>
                                                        <option disabled >--- Select Pincode------</option>
                                                        
                                                        {% for i in pincode %}
                                                                <option value="{{i.id}}"> {{i.pincode}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Zone</label>
                                                    <select  class="form-control" name='zone' id="exampleFormControlInput1" multiple>
                                                        <option disabled >--- Select Zone------</option>
                                                    
                                                        {% for i in zone %}
                                                                <option value="{{i.id}}"> {{i.zone_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group" style="margin-top:35px">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" value=""
                                                                name='footware_sizechart'  >Footwear Sizechart
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" name='footware_sizechart' >Dresswear Sizechart
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" 
                                                                name='featured'  >Featured
                                                            </label>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button  class="btn btn-light">cancel</button></a>
                                          
                                        </div>
                                   
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->


        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

    <script type="text/javascript">
        function getResult(value){
          var searchValue = value
            console.log(searchValue)
          x = new XMLHttpRequest;
      
          x.open('GET','?category='+searchValue);
          x.send();
      
          x.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var c = document.getElementById('subcategory');
                  c.innerHTML = x.response;
                  console.log(c)
              }
      
          }
      
        }
      

      </script>
      <script>
        document.getElementById("explicit-block-txt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
        {   
            alert("Speical Characther Not Allowed !!!!");
            return false;  
        }
        };
    </script>

    {% endblock %}