{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Units</h3>
                    <a href= "{% url 'listUnit' %}"><button class="btn btn-primary" type="submit">List Units</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Units</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD UNITS</h5>
                                    <form method="POST" action="{% url 'addUnit' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-10">
                                        <div class="form-group row">
                                            <!-- Unit -->
                                            <div class="col-lg-8">
                                                <label class="col-form-label" for="val-product">Unit<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='units' required >
                                            
                                            <!-- unit name-->
                                            
                                                <label class="col-form-label" for="val-product">Unit Name<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='unitname'required >
                                            
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'listUnit' %}"><button class="btn btn-light" type="button">back</button></a>
                                    
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>


























<!-- <style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style> -->

                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Units</h1>
                   </div>
                   
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD UNITS</h5>
                                        <form method="POST" action="{% url 'addUnit' %}" enctype="multipart/form-data" id="unitform">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='units' >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit Name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='unitname' >
                                            </div>
                                        </form>
                                            <button class="btn btn-primary" type="submit" form="unitform">Add</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listUnit' %}"><button class="btn btn-primary" type="submit">Back</button></a>

                            
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            
                            </div>
                            </div>
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                   
                        </div>
                    </div>
                    <div class="modal fade" id="modal-default">
                  
                  
             </main> -->
               
{% endblock %}