{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Bulk Upload Images</h3>
                    
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Bulk Upload Images</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Upload Multiple Images</h5>
                                    <form method="POST" action="{% url 'imageupload' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Images-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="image1">Images<span
                                                    class="text-danger">*</span>
                                            </label>
                                                <input type="file" class="form-control" id="image1" name='image' required="True" >
                                            </div>
                                           
                                            
                                            
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'dashboard' %}"><button class="btn btn-light" type="button">back</button></a>
                                    
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>
            





















                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Upload Multiple Images</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">

                            <form method="post" action="{% url 'imageupload' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                    &nbsp;&nbsp;<input type="file" name="image" multiple/>
                                    <input type="submit" value="Upload Images" style="background-color:mediumseagreen">
                                </form>
                            
                               
                    </div>
                </main> -->
               
{% endblock %}


