{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>PINCODES</h3>
                    <a href= "{% url 'addPincode' %}"><button class="btn btn-primary" type="submit">Add Pincode</button></a>
                   </div>  
                   </div>  
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Pincode</a></li>
                    </ol>
                </div>
                </div>
                <!-- Row -->

                                      
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Datatable</h4>
                            </div>
                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="example" class="table-bordered display" style="min-width: 845px;padding: 0rem;">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Pin</th>
                                                                <th>city</th>
                                                                
                                                                <th>delivery days</th>
                                                                <th>delivery charge</th>
                                                                <th>Action</th>
                                                    
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for pincode in pincodes %}
                                                
                                                    <tr>
                                                        <td>{{pincode.id}}</td>
                                                        <td>{{pincode.pincode}}</td>
                                                        <td>{{pincode.city}}</td>
                                                        
                                                        <td>{{pincode.delivery_within_days}}</td>
                                                        <td>{{pincode.delivery_charge}}</td>
                                                    <td>
                                                        <a href="{% url 'updatepincode' pincode.id %}"><i class="fa fa-edit"></i></a>
                                                        <a  href="{% url 'addPincode' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{pincode.id}});"><i class="fa fa-trash" title="Delete"></i></a> 
                                                    </td>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                               
                                                  </div>
                                                  </div>       
                                                  </div>
                                                  </div>                               
                                                             
                                                  </div>
                                                  </div>
                                                
                                                
                                                  <div class="modal fade" id="modal-default">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h4 class="modal-title">Delete Unit Details?</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <p>Are you sure you want to delete this Unit ?</p>
                                                            </div>
                                                            <div class="modal-footer ">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <form action="?delete=True" method="POST" >
                                                                {% csrf_token %}
                                                                <input type="number" name="pincodeid" id="pincodeDel" hidden>
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </main>
                                                    <script>
                                                        function addId(id){
                                                    document.getElementById('pincodeDel').value = id
                                                }
                                                </script>
                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                                <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#table1').DataTable({
                                                            "lengthChange": false,
                                                            "pageLength": 10,
                                                            "ordering":false
                                                        });
                                                    });
                                                </script>







<!-- <style>

    #map {
   
       width: 100%;
   
       height: 400px;
   
       background-color: grey;
   
   }
   
   </style>
   <style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

   
    
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>PINCODES</h1>
                    <a href= "{% url 'addPincode' %}"><button class="btn btn-primary" type="submit">Add Pincode</button></a>

                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-8">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>PINCODE LIST</h5>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="table-responsive">
                                                    <table id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Pin</th>
                                                                <th>city</th>
                                                                
                                                                <th>del_day</th>
                                                                <th>del_charge</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for pincode in pincodes %}
                                                
                                                    <tr>
                                                      <td>{{pincode.id}}</td>
                                                        <td>{{pincode.pincode}}</td>
                                                        <td>{{pincode.city}}</td>
                                                        
                                                        <td style="width: 30px;">{{pincode.delivery_within_days}}</td>
                                                        <td>{{pincode.delivery_charge}}</td>
                                                          <td>
                                                            <button class="btns"><a href="{% url 'updatepincode' pincode.id %}"><i class="far fa-edit" type="submit"></i></button>
                                                          <button class="btns"><a  href="{% url 'addPincode' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{pincode.id}});"><i class="far fa-trash-alt" title="Delete"></i></a></button> 
                                                        </td>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    
                                   
                        </div>
                    </div>
                            <br>
                            </div>
                            </div>
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                   
                        </div>
                    </div>
                 <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Delete Unit Details?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete this Unit ?</p>
                        </div>
                        <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <form action="?delete=True" method="POST" >
                            {% csrf_token %}
                            <input type="number" name="pincodeid" id="pincodeDel" hidden>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
                </main>
                <script>
                    function addId(id){
                document.getElementById('pincodeDel').value = id
            }
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
            <script>
                $(document).ready(function () {
                    $('#table1').DataTable({
                        "lengthChange": false,
                        "pageLength": 10,
                        "ordering":false
                    });
                });
            </script>  -->

            
               
{% endblock %}