{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>Dress Wear Chart</h3>
                    <a href= "{% url 'addDresschart' %}"><button class="btn btn-primary" type="submit">Add Dress Wear Chart</button></a>
                   </div>  
                   </div>  
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Dress Wear Chart</a></li>
                    </ol>
                </div>
                </div>
                <!-- Row -->

                                      
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Datatable</h4>
                            </div>
                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="example" class="table-bordered display" style="min-width: 845px;padding: 0rem;">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Country</th>
                                                                <th>Size</th>
                                                                <th>Chest</th>
                                                                <th>Front length</th>
                                                                <th>Acrross shoulder</th>
                                                                <th>Actions</th>
                                                    
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for dresswear in dress %}
                                                
                                                    <tr>
                                                        <td>{{dresswear.id}}</td>
                                                    <td>{{dresswear.country}}</td>
                                                    <td>{{dresswear.size}}</td>
                                                    <td>{{dresswear.chest}}</td>
                                                    <td>{{dresswear.front_length}}</td>
                                                    <td>{{dresswear.acrross_shoulder}}</td>
                                                    <td>
                                                        <a href="{% url 'updateDresschart' dresswear.id %}"><i class="fa fa-edit"></i></a>
                                                        <a  href="{% url 'addDresschart' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{dresswear.id}});"><i class="fa fa-trash" title="Delete"></i></a> 
                                                    </td>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                               
                                                  </div>
                                                  </div>       
                                                  </div>
                                                  </div>                               
                                                             
                                                  </div>
                                                  </div>
                                                
                                                
                                                                                        <div class="modal fade" id="modal-default">
                                                                                            <div class="modal-dialog">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-header">
                                                                                                    <h4 class="modal-title">Delete Dresswear Details?</h4>
                                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                        <span aria-hidden="true">&times;</span>
                                                                                                    </button>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                    <p>Are you sure you want to delete this dresswear ?</p>
                                                                                                    </div>
                                                                                                    <div class="modal-footer ">
                                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                                                    <form action="?delete=True" method="POST" >
                                                                                                        {% csrf_token %}
                                                                                                        <input type="number" name="dressid" id="dresswear" hidden>
                                                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                                                    </form>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                            <script>
                                                                                                function addId(id){
                                                                                            document.getElementById('dresswear').value = id
                                                                                            }
                                                                                            </script>
                                                                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                                                                            <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                                                                            <script>
                                                                                                $(document).ready(function () {
                                                                                                    $('#table1').DataTable({
                                                                                                        "lengthChange": false,
                                                                                                        "pageLength": 10,
                                                                                                        "ordering":false
                                                                                                    });
                                                                                                });
                                                                                            </script> 
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                              
                                            
                                        
                                        
                                        


                                         

















{% endblock %}