{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>PRODUCT LIST</h3>
                    <a href= "{% url 'addProduct' %}"><button class="btn btn-primary" type="submit">Add Products</button></a>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Product List</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Datatable</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table-bordered display" style="min-width: 845px;padding: 0rem;">
                                <thead>
                                    <tr>
                                        <th>Product id</th>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Parent Category</th>
                                        <th>Sub Subcategory</th>                                                                
                                        <th>Sku</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody id="searchResult">
                                    {% for product in products %}
                                        <tr>
                                        
                                        <td>{{product.id}}</td>
                                        <td> <img src = "{{product.product_image1.url}}" alt="" style="height: 50px; width: 50px;"></td>
                                        <td>{{product.product_name}}</td>
                                        <td>{{product.maincategory.category_name}}</td>
                                        <td>{{product.subcategory.category_name}}</td>
                                        
                                        <td>
                                                                
                                        {% if product.sku_status %}<a href="{% url 'retrievesku' product.id  %}"style="color:green" title="sku list">Sku{% else %}<a href="{% url 'retrievesku' product.id  %}"style="color:red" title="Add sku">Sku{% endif %}
                                        </td>
                                        <td>
                                        <a href="{% url 'updateProduct' product.id %}"><i class="fa fa-edit"></i></a>
                                        <a  href="{% url 'listProduct' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{product.id}});"><i class="fa fa-trash" title="Delete"></i></a>
                                        </td>
                            {% endfor %}
                                </tbody>

                               
                            </table>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Product ?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete the Product?</p>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <form action="{% url 'listProduct' %}?delete=True" method="POST" >
                    {% csrf_token %}
                    <input type="number" name="productid" id="productDel" hidden>
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
            </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable({
            "lengthChange": false,
            "pageLength": 10,
            "ordering":false
        });
    });
</script> 
<script>
     function addId(id){
        document.getElementById('productDel').value = id
    }
</script>


{% endblock %}