{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

<main class="mt-100 mb-100">
    <div class="container">
        <h1>Variation</h1>
        <a href= "{% url 'addProductVariations' %}"><button class="btn btn-primary" type="submit">Add Variation</button></a>

    </div>

    <div class="container mt-100 mb-100">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <div class="card-body">
                        <h5>Variation Name List</h5>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="table-responsive">
                                    <table id="table1">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>variation_name</th>
                                                <th>Variation option name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {% for i in pv %}
                                
                                            <tr>
                                                <td>{{i.id}}</td>
                                                <td>{{i.variation_name}}</td>
                                                <td>{% for j in i.products_variations_options_set.all %}{{j.variationOptionName}},{% endfor %}</td>
                                                <td>
                                                    <button class="btns"><a href="{% url 'updateProductVariations' i.id %}"><i class="far fa-edit" type="submit"></i></button>
                                                <button class="btns"><a  href="{% url 'addProductVariations' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{i.id}});"><i class="far fa-trash-alt" title="Delete"></i></a></button> 
                                                </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Delete Product Variation Details?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete this Product Variation ?</p>
                </div>
                <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form action="?delete=True" method="POST" >
                    {% csrf_token %}
                    <input type="number" name="pvid" id="pv" hidden>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                </div>
            </div>
        </div>
        </div>
    
        <script>
            function addId(id){
        document.getElementById('pv').value = id
        }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
        <script>
            $(document).ready(function () {
                $('#table1').DataTable({
                    "lengthChange": false,
                    "pageLength": 10,
                    "ordering":false
                });
            });
        </script> 
</main>

{% endblock %}