{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>Sku</h3>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">list Product</button></a>
                    <a href="{% url 'skudetails' productid=id  %}"><button class="btn btn-primary" type="submit">Add Sku</button></a>
                   
                   </div>  
                   </div>  
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Courier List</a></li>
                    </ol>
                </div>
                </div>
                <!-- Row -->

                                      
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">SKU LIST</h4>
                            </div>
                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="example" class="table-bordered display" style="min-width: 845px;padding: 0rem;">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Sku_Name</th>
                                                                <th>Price</th>
                                                                <th>Sales_Rate</th>
                                                                <th>Offer</th>
                                                                <th>Stock</th>
                                                                <th>Product Id</th>
                                                                <th>Primary Combination</th>
                                                                <th>Secondary Combination</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for i in response %}
                                                
                                                    <tr>
                                                        <td>{{i.id}}</td>
                                                        <td>{{i.sku_name}}</td>
                                                        <td>{{i.price}}</td>
                                                        <td>{{i.sales_rate}}</td>
                                                        <td>{{i.offer}}</td>
                                                        <td>{{i.stock}}</td>
                                                        <td>{{i.product_id}}</td>
                                                        <td>{{i.products_variation_combinations_id.product_variations_options_id.product_variation_id.variation_name}}--{{i.products_variation_combinations_id.product_variations_options_id.variationOptionName}}</td>
                                                        <td>{{i.products_variation_combinations_id_secondary.product_variations_options_id.product_variation_id.variation_name}}--{{i.products_variation_combinations_id_secondary.product_variations_options_id.variationOptionName}}</td>
                                                          <td>
                                                            <a href="{% url 'updatesku' i.id %}"><i class="fa fa-edit"></i></a>
                                                            <a href="{% url 'deletesku'%}?delete=True #modal-default "data-toggle="modal" data-target="#modal-default" onclick="addId({{i.id}});"><i class="fa fa-trash" title="Delete"></i></a> 
                                                        </td>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        


                                        <div class="modal fade" id="modal-default">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Delete sku ?</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <p>Are you sure you want to delete the sku?</p>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                      <form action="{% url 'deletesku'  %}?delete=True" method="POST" >
                                                        {% csrf_token %}
                                                        <input type="number" name="skuid" id="skuDel" hidden>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </form>
                                                    </div>
                                                </div>
                                             
                                            </div>
                                          
                                        </div> 
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#table1').DataTable({
                                                    "lengthChange": false,
                                                    "pageLength": 10,
                                                    "ordering":false
                                                });
                                            });
                                        </script> 
                                        <script>
                                             function addId(id){
                                                 console.log(id)
                                                document.getElementById('skuDel').value = id
                                            }
                                        </script>












<!-- <style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

<style>
    
    .reset{
        padding-right: 10px;
        padding-top: 10px;
        
        position:absolute;
   top: 0;
   right:0;
    }
    .sbtn{
        padding-top: 10px;
    }
    .btns{
        backface-visibility: hidden;
        border: hidden;
    }
    .page{
        float: right;
    }
    .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
    
    
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Sku</h1>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">list Products</button></a>
                   
                    <a href="{% url 'skudetails' productid=id  %}"><button class="btn btn-primary" type="submit">Add Sku</button></a>
                   
                   </div>                
                    <div class="container mt-100 mb-100">                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5>SKU LIST</h5>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="table-responsive">
                                                    <table id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Sku_Name</th>
                                                                <th>Price</th>
                                                                <th>Sales_Rate</th>
                                                                <th>Offer</th>
                                                                <th>Stock</th>
                                                                <th>Product Id</th>
                                                                <th>Primary Combination</th>
                                                                <th>Secondary Combination</th>
                                                                <th>Action</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for i in response %}
                                                
                                                            <tr>
                                                              <td>{{i.id}}</td>
                                                                <td>{{i.sku_name}}</td>
                                                                <td>{{i.price}}</td>
                                                                <td>{{i.sales_rate}}</td>
                                                                <td>{{i.offer}}</td>
                                                                <td>{{i.stock}}</td>
                                                                <td>{{i.product_id}}</td>
                                                                <td>{{i.products_variation_combinations_id.product_variations_options_id.product_variation_id.variation_name}}--{{i.products_variation_combinations_id.product_variations_options_id.variationOptionName}}</td>
                                                                <td>{{i.products_variation_combinations_id_secondary.product_variations_options_id.product_variation_id.variation_name}}--{{i.products_variation_combinations_id_secondary.product_variations_options_id.variationOptionName}}</td>
                                                                  <td>
                                                                    <button class="btns"><a href="{% url 'updatesku' i.id %}"><i class="far fa-edit" type="submit" title="Edit"></i></button>
                                                                    <button class="btns"><a  href="{% url 'deletesku'  %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{i.id}});"><i class="far fa-trash-alt" title="Delete"></i></a></button> 
                                                                </td>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="modal fade" id="modal-default">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Delete sku ?</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <p>Are you sure you want to delete the sku?</p>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                      <form action="{% url 'deletesku'  %}?delete=True" method="POST" >
                                                        {% csrf_token %}
                                                        <input type="number" name="skuid" id="skuDel" hidden>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </form>
                                                    </div>
                                                </div>
                                             
                                            </div>
                                          
                                        </div> 
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#table1').DataTable({
                                                    "lengthChange": false,
                                                    "pageLength": 10,
                                                    "ordering":false
                                                });
                                            });
                                        </script> 
                                        <script>
                                             function addId(id){
                                                 console.log(id)
                                                document.getElementById('skuDel').value = id
                                            }
                                        </script>
                                    </main> -->
                                    {% endblock %}