{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h1>Product </h1>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Sku</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-9 col-xxl-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Sku</h5>
                                        {% for i in sku %}
                                    <form method="POST" action="{% url 'update_sku' %}" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Product Id -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Product Id 
                                                
                                                </label>
                                            <input readonly class="form-control" id="exampleFormControlInput1" type="text" name='product_id' value={{i.product_id.id}} required>
                                            </div>
                                            <!-- Sku Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Sku Name
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" disabled name='sku_name' value={{i.sku_name}} required>
                                            </div>

                                        
                                            
                                        </div>    
                                        <div class="form-group row">
                                            <!-- Primary Variations -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Primary Variations <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <select class="form-control" id="exampleFormControlInput1"  name='combination_id' >
                                                    <option value="0">select</option>
                                                    {% for i in response1 %}
                                                        <option value={{i.id}} {% if i.product_variations_options_id.product_variation_id.variation_name == product_variation_id and i.product_variations_options_id.variationOptionName == product_variation_option %} selected {% endif %}> {{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                            
                                                </div>
                                            <!-- Secondary Variations -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Secondary Variations
                                                </label>
                                            <select class="form-control" id="exampleFormControlInput1" name='combination_id1' >
                                                <option value="0">---select---</option>
                                                {% for i in response1 %}
                                                    <option value={{i.id}} {% if i.product_variations_options_id.product_variation_id.variation_name == product_variation_id1 and i.product_variations_options_id.variationOptionName == product_variation_option1 %} selected {% endif %}> {{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <!-- Price-->
                                            <div class="col-lg-4">
                                                <label class="col-form-label" for="val-product">Price <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number"  name='price' value={{i.price}} required>
                                            </div>
                                            <!-- Sales Rate -->
                                            <div class="col-lg-4">
                                                <label class="col-form-label" for="val-product">Sales Rate <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text"  name='sales_rate' value={{i.sales_rate}} required>
                                            </div>
                                            <!-- stock Rate -->
                                            <div class="col-lg-4">
                                                <label class="col-form-label" for="val-product">Stock <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number"  name='stock' value={{i.stock}} required>
                                            </div>

                                        
                                            
                                        </div> 
                                       
                                        <input type ="hidden" name="skuid" value="{{i.id}}">
                                        
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        
                                      
                                    </div>
                                    </div>
                                    </form>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>






















<!-- <style>
    .star{
       color:red;
       
    }
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Product</h1>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update SKU</h5>
                                        {% for i in sku %}
                                        <form method="POST" action="{% url 'update_sku' %}" enctype="multipart/form-data">{% csrf_token %} 
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Product Id</label>
                                                        <input class="form-control" id="exampleFormControlInput1" type="text"   name='product_id' value={{i.product_id.id}} readonly required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label><span>Sku Name<sup class="star">*</sup> </span></label>
                                                        <input class="form-control" id="exampleFormControlInput1" type="text"  disabled name='sku_name' value={{i.sku_name}} required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Primary Variations</label>
                                                        <select class="form-control" id="exampleFormControlInput1" name='combination_id'  >
                                                            <option value="0">---select---</option>
                                                            {% for i in response1 %}
                                                                <option value={{i.id}} {% if i.product_variations_options_id.product_variation_id.variation_name == product_variation_id and i.product_variations_options_id.variationOptionName == product_variation_option %} selected {% endif %}> {{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Secondary Variations</label>
                                                        <select class="form-control" id="exampleFormControlInput1" name='combination_id1'  >
                                                            <option value="0">---select---</option>
                                                            {% for i in response1 %}
                                                                <option value={{i.id}} {% if i.product_variations_options_id.product_variation_id.variation_name == product_variation_id1 and i.product_variations_options_id.variationOptionName == product_variation_option1 %} selected {% endif %}> {{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label><span>Price<sup class="star">*</sup> </span></label>
                                                        <input class="form-control" id="exampleFormControlInput1" type="number"  name='price' value={{i.price}} required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label><span>Sales Rate<sup class="star">*</sup> </span></label>
                                                        <input class="form-control" id="exampleFormControlInput1" type="text"  name='sales_rate' value={{i.sales_rate}} required >
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label><span>Stock</span><sup class="star">*</sup> </span></label>
                                                        <input class="form-control" id="exampleFormControlInput1" type="number"  name='stock' value={{i.stock}} required>
                                                    </div>
                                                </div>
                                            </div>
                                        <input type ="hidden" name="skuid" value="{{i.id}}">
                                        <button class="btn btn-primary" type="submit" >Update</button>
                                        
                                        <div class="form-group">
                                           
                                           

                                        </div> 

                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                           
                        </div>
                    </div>
                    
                   
                </main> -->
               
{% endblock %}