{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>PINCODE</h3>
                    <a href= "{% url 'listPincode' %}"><button class="btn btn-primary" type="submit">List Pincode</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Pincode</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-5 col-xxl-5">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE PINCODE</h5>
                                        {% for i in pin %}
                                    <form method="POST" action="{% url 'update_pincode' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-10">
                                        <div class="form-group row">
                                            
                                            <!-- Country Name -->
                                            <div class="col-lg-8">
                                                <label class="col-form-label" for="val-product">Pincode<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='pincode' value={{i.pincode}} required >
                                            
                                            <!-- Size-->
                                            
                                                <label class="col-form-label" for="val-product">City <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='city' value={{i.city}} required>
                                            <!-- Chest -->
                                            
                                            <label class="col-form-label" for="val-product">Delivery Within_days <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_within_days'value={{i.delivery_within_days}} required>
                                            <!-- front length -->
                                             
                                            <label class="col-form-label" for="val-product">Delivery Charge <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_charge' value={{i.delivery_charge}} required>
                                       
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <input type ="hidden" name="pinId" value="{{i.id}}">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href= "{% url 'listPincode' %}"><button class="btn btn-light" type="button">back</button></a>
                                    {% endfor %}
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>























                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Units</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE PINCODE</h5>
                                        {% for i in pin %}
                                        <form method="POST" action="{% url 'update_pincode' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Pincode</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='pincode' value={{i.pincode}}>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">City</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='city' value={{i.city}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">State</label>
                                                <textarea class="form-control"  id="exampleFormControlInput1" type="text" name='state' value={{i.state}} >{{i.state}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Delivery Within_days</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_within_days'value={{i.delivery_within_days}}>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Delivery Charge</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_charge' value={{i.delivery_charge}}>
                                            </div>
                                            <input type ="hidden" name="pinId" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </main>   -->
{% endblock %}