{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Foot wear chart</h3>
                    <a href= "{% url 'listFoot' %}"><button class="btn btn-primary" type="submit">LIST FOOT CHART</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Foot Wear Chart</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update  Foot wear Chart</h5>
                                    <form method="POST" action="{% url 'update_Foot' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            {% for i in foot %}
                                            <!-- Country Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Country<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='country' value="{{i.country}}"required >
                                            
                                            <!-- Size-->
                                            
                                                <label class="col-form-label" for="val-product">Size <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='size'  value="{{i.size}}" required>
                                            <!-- Foot length -->
                                            
                                            <label class="col-form-label" for="val-product">foot Length <span
                                                class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='foot_length' value="{{i.foot_length}}" required>
                                       
                                        </div>

                                                                               
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <input type ="hidden" name="footid" value="{{i.id}}">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href= "{% url 'listFoot' %}"><button class="btn btn-light" type="button">back</button></a>
                                    {% endfor %}  
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>
            



































                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Footwearchart</h1>
                   </div>                
                   <div class="container mt-100 mb-100">
                    <div class="row">                  
                        <div class="col-md-6">
                            <div class="card">
                                    <div class="card-body">
                                        <h5>Update Footwear Chart</h5>
                                        {% for i in foot %}
                                        <form method="POST" action="{% url 'update_Foot' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Country</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='country' value={{i.country}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Size</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='size' value={{i.size}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Foot length</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='foot_length'value={{i.foot_length}} >
                                            </div>
                                            <input type ="hidden" name="footid" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                    
               </main> -->
{% endblock %}