{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Units</h3>
                    <a href= "{% url 'listUnit' %}"><button class="btn btn-primary" type="submit">List Units</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Units</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-6 col-xxl-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Units</h5>
                                        {% for i in unit %}
                                    <form method="POST" action="{% url 'update_unit' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-10">
                                        <div class="form-group row">
                                            <!-- Unit -->
                                            <div class="col-lg-8">
                                                <label class="col-form-label" for="val-product">Unit<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='units' required value={{i.units}} >
                                            
                                            <!-- unit name-->
                                            
                                                <label class="col-form-label" for="val-product">Unit Name<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='unitname'required value={{i.unitname}}>
                                            
                                        </div>

                                        
                                            
                                        </div>    
                                        
                                        
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <input type ="hidden" name="unitid" value="{{i.id}}">
                                          
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href= "{% url 'listUnit' %}"><button class="btn btn-light" type="button">back</button></a>
                                    
                                    </form>
                                    {% endfor %}
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>





























                <!-- <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Units</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update UNITS</h5>
                                        {% for i in unit %}
                                        <form method="POST" action="{% url 'update_unit' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='units' value={{i.units}}>
                                            </div>
                                             <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit Name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='unitname' value={{i.unitname}}>
                                            </div>
                                            <input type ="hidden" name="unitid" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                            </form>
                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            </div>
                            </div>
                            
                        </div>
                    </div>
                
             </main> -->
               
{% endblock %}