{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h1>Update Product</h1>
                            <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
        
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Products</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            {% for i in product %}
                            <div class="card-body">
                                <form method="POST" action="{% url 'update_product' %}" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-12">
                                           
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="val-product">Product Name <span
                                                        class="text-danger">*</span>
                                                </label>
                                                    <input type="text" class="form-control" id="val-product" name='product_name' onchange="getResult(this.value)"required="True" placeholder="Enter Product Name.." value="{{i.product_name}}">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="val-category">Category <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <select  class="form-control" id="category" name='category' onchange="getResult(this.value)" required="True">
                                                    <option value="0" > Select Category</option>
                                                    
                                                    {% for i in category %}
                                                            <option value="{{i.id}}" {% if i.id == mc %} selected {% endif %}> {{i.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="subcategory">Subcategory 
                                                </label>
                                                <select class="form-control" id="subcategory" name='subcategory'  >
                                                    <option value="0"> Select Subcategory</option>
                                                    
                                                    {% for i in category %}
                                                            <option value="{{i.id}}"{% if i.id == c %} selected {% endif %}> {{i.category_name}}</option>
                                                    {% endfor %}
                                                
                                                </select>
                                                </div>
                                              
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label"   for="image1" >Image 1<span
                                                    class="text-danger">*</span>{% if i.product_image1  %}<img  src = "{{ i.product_image1.url }}" alt="" style="height: 50px; width: 50px;">{% else %}<img   src = "/media/noimage/noimage1.jpg" alt="" style="height: 50px; width: 50px;">{% endif %}</label>
                                                    <input class="form-control" type="file" id="image1" name='product_image1' value="{{i.product_image1}}">
                                                </div>
                                                <div class="col-lg-4">
                                                <label class="col-form-label" for="image2"   >Image 2{% if i.product_image2  %}<img  src = "{{ i.product_image2.url }}" alt="" style="height: 50px; width: 50px;">{% else %}<img  src = "/media/noimage/noimage2.jpg" alt="" style="height: 50px; width: 50px;">{% endif %}</label>
                                                <input class="form-control" type="file" id="image2" name='product_image2' value="{{i.product_image2}}">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image3"  >Image 3{% if i.product_image3  %}<img  src = "{{ i.product_image3.url }}" alt="" style="height: 50px; width: 50px;">{% else %}<img  src = "/media/noimage/noimage3.jpg" alt="" style="height: 50px; width: 50px;">{% endif %}</label>
                                                    <input class="form-control" type="file" id="image3" name='product_image3' value="{{i.product_image3}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                            
                                                <div class="col-lg-12">
                                                    <label class="col-form-label" for="description">Product Description<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="description" name='product_description' required placeholder="Description.." value="{{i.product_description}}">{{i.product_description}}</textarea>
                                                </div>
                                                </div>
                                                <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label class="col-form-label" for="description">Highlights<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="description" name='highlights' required value="{{i.highlights}}">{{i.highlights}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label class="col-form-label" for="description">Return Policy<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="description" name='return_policy' required value="{{i.return_policy}}">{{i.return_policy}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Net Weight
                                                </label>
                                                    <input class="form-control" id="weight" ntype="number"   onkeypress="return event.charCode >= 48" min="1" name='Net_weight' value="{{i.Net_weight}}">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="unit">Unit
                                                </label>
                                                <select  class="form-control" name='units'>
                                                    <option value='0' > Select Unit</option>
                                                    
                                                    {% for i in unit %}
                                                    <option value="{{i.id}}" {% if i.id == u %}  selected  {% endif %}> {{i.units}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="brand">Brand Name
                                                </label>
                                                    <input type="text" class="form-control" id="brand"  name='brand_name'  value={{i.brand_name}}>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Number Of Days Of Refund</label>
                                                    <input class="form-control" id="refund" type="number" onkeypress="return event.charCode >= 48" min="1" name='number_of_days_for_refund' value="{{i.number_of_days_for_refund}}" >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="unit">Delivery Charge</label>
                                                    <input class="form-control" id="refund" type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_charge' value="{{i.delivery_charge}}" >
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="brand">Delivery Days
                                                </label>
                                                    <input class="form-control" type="number"  onkeypress="return event.charCode >= 48" min="1" name='delivery_days'value="{{i.delivery_days}}" >
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image1">Banner1{% if i.banner1  %}<img src = "{{ i.banner1.url }}" alt="" style="width: 24px; height: 24px; ">{% else %}<img src = "/media/noimage/noimage1.jpg" alt="" style="width: 24px; height: 24px;">{% endif %}
                                                </label>
                                                    <input  class="form-control" type="file" name='banner1'  value="{{i.banner1}}">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image2">Banner2{% if i.banner2  %}<img src = "{{ i.banner2.url }}" alt="" style="width: 24px; height: 24px; ">{% else %}<img src = "/media/noimage/noimage2.jpg" alt="" style="width: 24px; height: 24px;">{% endif %}
                                                </label>
                                                    <input type="file" class="form-control"  name='banner2' value="{{i.banner2}}">
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" >Coupon Code
                                                </label>
                                                <select  cid="exampleFormControlSelect1" class="form-control"  name='coupon_code'>
                                                    <option value="" >Select Coupon</option>
                                                    {% for i in coupon %}
                                                    <option value="{{i.id}}" {% if i.id == cp %} selected {% endif %}> {{i.coupon_name}}</option>
                                                    {% endfor %}
                                                </select>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="weight">Pincode</label>
                                                    <select  class="form-control" name='pincode'id="exampleFormControlInput1" multiple >
                                                        <option  value="0" >Select Pincode</option>
                                                        
                                                        {% for i in pincode1 %}
                                                        <option value="{{i.id}}"{% if i.id in pin %} selected {% endif %}> {{i.pincode}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-labe" for="weight">Zone</label>
                                                    <select  class="form-control" name='zone' id="exampleFormControlInput1" multiple>
                                                        <option value="0">Select Zone</option>
                                                    
                                                        {% for i in zone1 %}
                                                        <option value="{{i.id}}"  {% if i.id in zon %} selected {% endif %}> {{i.zone_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group" style="margin-top:35px">
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" 
                                                                name='footware_sizechart'  {% if i.footware_sizechart == True %} checked {% endif %}>Footwear Sizechart
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" name='dress_sizechart' {% if i.dress_sizechart == True %} checked {% endif %}>Dresswear Sizechart
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input" name='featured'  {% if i.featured == True %} checked {% endif %}>Featured
                                                            </label>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <input type ="hidden" name="productId" value="{{i.id}}">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                            <a href= "{% url 'listProduct' %}"><button type="button"  class="btn btn-light">cancel</button></a>
                                          
                                        </div>
                                   
                                    </div>
                                    
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->


        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

    <script type="text/javascript">
        function getResult(value){
          var searchValue = value
            console.log(searchValue)
          x = new XMLHttpRequest;
      
          x.open('GET','?category='+searchValue);
          x.send();
      
          x.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var c = document.getElementById('subcategory');
                  c.innerHTML = x.response;
                  console.log(c)
              }
      
          }
      
        }
      

      </script>
      <script>
        document.getElementById("explicit-block-txt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
        {   
            alert(" Special Characters Not Allowed!!!!");
            return false;  
        }
        };
    </script>
   

{% endblock %}
































<!-- <style> 
     .star{
       color:red;
       
    }
    .col1 {
      column-count: 3;
      column-gap: 90px;
    }
    .col2 {
        column-count: 3;
        column-gap: 50px;
       
      
    }
    .col3 {
        column-count: 4;
        column-gap: 35%;
       
      
    }
    .pos1
    {
        position:absolute;  
        left:41%;
        top:66%;
    }
    .pos2
    {
        position:absolute;  
        left:70%;
        top:66%;
    }
    .pos3
    {
        position:absolute;  
        left:65%;
        top:67%;
    }
    
    </style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Product</h1>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">
                            
                            <div class="col-md-14">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE PRODUCT</h5>
                                        {% for i in product %}
                                        <form method="POST" action="{% url 'update_product' %}" enctype="multipart/form-data">{% csrf_token %}
                                            <div class=col2>
                                                <div class="col-md-5">
                                                    <label for="exampleFormControlInput1"><span>Product Name  <sup class="star">*</sup> </span></label>
                                                    <input class="" id="explicit-block-txt" type="text" name='product_name'  value="{{i.product_name}}"">
                                                </div>
                                                <div class="col-md-5">
                                                <label for="exampleFormControlInput1"><span>Category <sup class="star">*</sup> </span></label>
                                                <select class="" id="exampleFormControlSelect1" name='category' onchange="getResult(this.value)">
                                                    <option value="0" >--- Select Category------</option>
                                                    
                                                    {% for i in category %}
                                                            <option value="{{i.id}}" {% if i.id == mc %} selected {% endif %}> {{i.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-md-5">
                                                <label for="exampleFormControlSelect1">Sub Category</label>
                                                <select class="" id="subcategory" name='subcategory'>
                                                    <option value="0">--- Select Subcategory------</option>
                                                    
                                                    {% for i in category %}
                                                            <option value="{{i.id}}"{% if i.id == c %} selected {% endif %}> {{i.category_name}}</option>
                                                    {% endfor %}
                                                
                                                </select>
                                               </div> 
                                            </div>
                                            
                                        <br>
                                        <p>Add Product Image</p>
                                        <div class="col1">
                                            <label for="exampleFormControlInput1" ><span>Product Image 1<sup class="star">*</sup> </span>{% if i.product_image1  %}<img src = "{{ i.product_image1.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.product_image1 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <input class="" id="exampleFormControlInput1" type="file" name='product_image1' value="{{i.product_image1}}">
                                            <label for="exampleFormControlInput1">Product Image 2{% if i.product_image2  %}<img src = "{{ i.product_image2.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.product_image2 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <input class="" id="exampleFormControlInput1" type="file" name='product_image2' value="{{i.product_image2}}" >
                                            <label for="exampleFormControlInput1">Product Image 3{% if i.product_image3  %}<img src = "{{ i.product_image3.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.product_image3 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <input class="" id="exampleFormControlInput1" type="file"  name='product_image3' value="{{i.product_image3}}">
                                        </div> 
                                        <br>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Product Description<sup class="star">*</sup> </span></label>
                                            <textarea  class="form-control" id="exampleFormControlInput1" type="textarea"  name='product_description' value="{{i.product_description}}">{{i.product_description}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Highlights<sup class="star">*</sup> </span></label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='highlights' value="{{i.highlights}}">{{i.highlights}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Return Policy<sup class="star">*</sup> </span></label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='return_policy' value="{{i.return_policy}}">{{i.return_policy}}</textarea>
                                        </div>
                                        <br>
                                        
                                        <div class="col2">
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1">Net Weight</label>
                                            <input class="" id="exampleFormControlInput1"type="number" onkeypress="return event.charCode >= 48" min="1" name='Net_weight' value="{{i.Net_weight}}">
                                            </div>
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1">Unit</label>
                                            <select  id="exampleFormControlSelect1" name='units'>
                                                <option value="0" >--- Select Unit------</option>
                                                
                                                {% for i in unit %}
                                                        <option value="{{i.id}}" {% if i.id == u %}  selected  {% endif %}> {{i.units}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Brand name</label>
                                            <input class="" id="exampleFormControlInput1"type="text"  name='brand_name' value={{i.brand_name}}>
                                            </div> 
                                            
                                        </div>
                                        <br> 
                                        <br>
                                        
                                        <div class="col2">
                                            <div class=col-md-8>
                                            <label for="exampleFormControlInput1">Number Of Days Of Refund</label>
                                            <input class="" id="" type="number"  name='number_of_days_for_refund' onkeypress="return event.charCode >= 48" min="1" value="{{i.number_of_days_for_refund}}">
                                                
                                            </div>
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Delivery Charge</label>
                                            <input class="" id="exampleFormControlInput1"type="number"  name='delivery_charge' onkeypress="return event.charCode >= 48" min="1"  value="{{i.delivery_charge}}">
                                            </div> 
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Delivery Days</label>
                                            <input class="" id="exampleFormControlInput1"type="number" onkeypress="return event.charCode >= 48" min="1"  name='delivery_days' value="{{i.delivery_days}}">
                                            </div>
                                             
                                        </div>   
                                            
                                        <br>
                                        <br>  
                                        <br>
                                        <div class="col2">
                                            <div class=col-md-5>
                                                <label for="exampleFormControlInput1">Banner 1 {% if i.banner1  %}<img src = "{{ i.banner1.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.banner1 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                                <input class="" id="exampleFormControlInput1"type="file"  name='banner1' value="{{i.banner1}}">
                                            </div> 
                                             <div class=col-md-5>
                                                <label for="exampleFormControlInput1">Banner 2 {% if i.banner2  %}<img src = "{{ i.banner2.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.banner2 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                                <input class="" id="exampleFormControlInput1"type="file"  name='banner2' value="{{i.banner2}}">
                                            </div> 
                                            <div class=col-md-5>
                                                <label for="exampleFormControlSelect1">Coupon Code</label>
                                                <select  id="exampleFormControlSelect1" name='coupon_code'>
                                                    <option value="0">----Select---------</option>
                                                    {% for i in coupon %}
                                                            <option value="{{i.id}}" {% if i.id == cp %} selected {% endif %}> {{i.coupon_name}}</option>
                                                    {% endfor %}
                                                </select>
                                               </div>
                                            
                                                                                                
                                        </div>

                                        
                                        <br>
                                        <div class="col3">
                                            <div class="col-md-3">
                                            <label for="exampleFormControlInput1">Pincode</label>
                                            
                                            <select class="" id="exampleFormControlSelect1" name='pincode' multiple>
                                                <option value="" >--Select Pincode------</option>
                                                <option>
                                                {% for i in pincode1 %}
                                                        <option value="{{i.id}}"  {% if i.id in pin %} selected {% endif %}> {{i.pincode}}</option>
                                                {% endfor %}
                                            </select>
                                            </div> 

                                            <div class="col-md-1"> 
                                            <label for="exampleFormControlInput1">Zones</label>
                                              
                                            
                                            <select  id="exampleFormControlSelect1" name='zone' multiple>
                                                    <option value="" >--Select Zonese------</option>
                                                    <option>
                                                    {% for i in zone1 %}
                                                            <option value="{{i.id}}"  {% if i.id in zon %} selected {% endif %}> {{i.zone_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                           </div>
                                           <br>
                                        
                                        <br>
                                        <div class="" >
                                        &nbsp;&nbsp;&nbsp;<label for="exampleFormControlInput1">Foot wear sizechart</label>
                                        &nbsp;&nbsp;&nbsp;<input  id="exampleFormControlInput1"type="checkbox"  name='footware_sizechart'  {% if i.footware_sizechart == True %} checked {% endif %}>
                                           
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label for="exampleFormControlInput1">Dress wear sizechart</label>
                                        <input  id="exampleFormControlInput1" type="checkbox"  {% if i.dress_sizechart == True %} checked {% endif %} name='dress_sizechart' >
                                        </div>
                                           <br>
                                        
                                        <input type ="hidden" name="productId" value="{{i.id}}">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                        <div class="form-group">
                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% endfor %}
                                    
                                    </div>
                    </div>
                    <script type="text/javascript">
                        function getResult(value){
                          var searchValue = value
                            console.log(searchValue)
                          x = new XMLHttpRequest;
                      
                          x.open('GET','?category='+searchValue);
                          x.send();
                      
                          x.onreadystatechange = function() {
                              if (this.readyState == 4 && this.status == 200) {
                                  var c = document.getElementById('subcategory');
                                  c.innerHTML = x.response;
                                  console.log(c)
                              }
                      
                          }
                      
                        }
                      

                      </script>
                      <script>
                        document.getElementById("explicit-block-txt").onkeypress = function(e) {
                        var chr = String.fromCharCode(e.which);
                        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
                        {   
                            alert(" Special Characters Not Allowed!!!!");
                            return false;  
                        }
                        };
                    </script>
                   
                </main> -->
               
