{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h5>Bulk Upload Products</h5>
                    <form method="post" action="{% url 'uploadproduct' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                            <div class="col-lg-6">
                                <label class="col-form-label" >Bulk Upload Products<span
                                    class="text-danger">*</span></label>
                                <input type="file" name="excel" class="form-control" required>
                                <br>
                                <button type="submit" class="btn btn-primary">Upload</button>
                        
                            </div>
                        </form>
                        <form method="post" action="{% url 'uploadsku' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-6">
                            <label class="col-form-label" >Bulk Upload Sku<span
                                class="text-danger">*</span></label>
                            <input type="file" name="excel" class="form-control" required>
                            <br>
                            <button type="submit" class="btn btn-primary">Upload</button>
                    
                        </div>
                        
                        </form> 
                    </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Bulkupload Products</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Datatable</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table-bordered display" style="min-width: 845px;padding: 0rem;">
                                <thead>
                                    <tr>
                                        <th>Product id</th>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Parent Category</th>
                                        <th>Sub Subcategory</th>                                                                
                                        <th>Sku</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody id="searchResult">
                                    {% for product in products %}
                                        <tr>
                                        
                                        <td>{{product.id}}</td>
                                        <td> <img src = "{{product.product_image1.url}}" alt="" style="max-width: 100px; max-height: 100px; width: 70%;"></td>
                                        <td>{{product.product_name}}</td>
                                        <td>{{product.maincategory.category_name}}</td>
                                        <td>{{product.subcategory.category_name}}</td>
                                        
                                        <td>
                                            <button class="transition duration-500 ease-in-out hover:bg-white-600 transform hover:-translate-y-1 hover:scale-110 ...">{% if product.sku_status %}<a href="{% url 'retrievesku' product.id  %}"style="color:green">Sku{% else %}<a href="{% url 'retrievesku' product.id  %}"style="color:red">Sku{% endif %}</button> </td>
                                        <td>
                                        <a href="{% url 'updateProduct' product.id %}"><i class="fa fa-edit"></i></a>
                                        <a  href="{% url 'listProduct' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{product.id}});"><i class="fa fa-trash" title="Delete"></i></a>
                                        </td>
                            {% endfor %}
                                </tbody>

                               
                            </table>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Product ?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete the Product?</p>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <form action="{% url 'listProduct' %}?delete=True" method="POST" >
                    {% csrf_token %}
                    <input type="number" name="productid" id="productDel" hidden>
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
            </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable({
            "lengthChange": false,
            "pageLength": 10,
            "ordering":false
        });
    });
</script> 
<script>
     function addId(id){
        document.getElementById('productDel').value = id
    }
</script>






























<!-- <style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Upload Excel File</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                                <form method="post" action="{% url 'uploadproduct' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>Bulk Upload Products
                                    &nbsp;&nbsp;<input type="file" name="excel" required>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class = "badge badge-success badge-pill" >Upload</button>
                                </label>
                                </form>
                                <form method="post" action="{% url 'uploadsku' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>Bulk Upload Sku
                                    &nbsp;&nbsp;<input type="file" name="excel" required>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class = "badge badge-success badge-pill">Upload</button>
                                </label>
                                </form>
                            
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5>PRODUCT LIST</h5>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="table-responsive">
                                                    <table id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th>Product id</th>
                                                                <th>Product Name</th>
                                                                <th>Product Image</th>
                                                                <th>Sku</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for product in products %}
                                                
                                                    <tr>
                                                      <td>{{product.id}}</td>
                                                        <td>{{product.product_name}}</td>
                                                        <td> <img src = "{{product.product_image1.url}}" alt="" style="max-width: 100px; max-height: 100px; width: 50%;"></td>
                                                        <td>
                                                            <button class="btns"><a href="{% url 'retrievesku' product.id  %}">sku</button>
                                                        </td>
                                                          <td>
                                                            <button class="btns"><a href="{% url 'updateProduct' product.id %}"><i class="far fa-edit" type="submit"></i></button>
                                                          <button class="btns"><a  href="{% url 'listProduct' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{product.id}});"><i class="far fa-trash-alt" title="Delete"></i></a></button> 
                                                        </td>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Delete Bulkupload Details?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete this file ?</p>
                        </div>
                        <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <form action="{% url 'listProduct' %}?delete=True" method="POST" >
                            {% csrf_token %}
                            <input type="number" name="productid" id="floorDel" hidden>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
                </main>
                <script>
                    function addId(id){
                    document.getElementById('floorDel').value = id
                    }
                </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                <script>
                    $(document).ready(function () {
                        $('#table1').DataTable({
                            "lengthChange": false,
                            "pageLength": 10,
                            "ordering":false
                        });
                    });
                </script>  -->
                            
               
{% endblock %}


