{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
#map {
   
    width: 100%;

    height: 400px;

    background-color: grey;

}
</style>
 <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Zones</h3>
                    <a href= "{% url 'listZone' %}"><button class="btn btn-primary" type="submit">List Zones</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Zone</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-9 col-xxl-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD Zones</h5>
                                    <form method="POST" action="{% url 'addZone' %}" id="zoneform">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Zone Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Zone Name<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='zone_name' required >
                                            </div>
                                            <!-- Location-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" >Choose Location<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <button onclick=initMap() type="button" class="form-control" id="exampleFormControlInput1"  >Choose Location</button>
                                            
                                            </div>
                                            <div class="col-lg-9" id="map" style="display: none;padding: top 20px;"></div>
                                        
                                        </div>    
                                        <div class="form-group row">
                                            <!-- Courier Phone -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Latitude <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="demo" type="text" name="lat" readonly required>
                                            </div>
                                            <!-- Courier City -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Longitude<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="demo1" type="text" name="long" readonly >
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <!-- Courier Postcode-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Delivery Within Days <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_within_days' required >
                                            </div>
                                            <!-- Courier Website Url -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Delivery Charge <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_charge' required >
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <!-- Distance-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Distance<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name="distance" onkeypress="return event.charCode >= 48" min="1" required >
                                            </div>
                                            

                                        
                                            
                                        </div>
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'listZone' %}"><button class="btn btn-light" type="button">cancel</button></a>
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="modal-default">
            
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                    <script>
                        function initMap() {
                           var y = document.getElementById("demo");
                           var z = document.getElementById("demo1");
                           var x = document.getElementById('map').style.display = "block";
                           
                           if (navigator.geolocation) {
                               var options = {timeout:60000};
                               navigator.geolocation.getCurrentPosition(showPosition, errorHandler, options);
                           } 
                           else { 
                               x.innerHTML = "Geolocation is not supported by this browser.";
                           }
                           function errorHandler(err) {
                               if(err.code == 1) {
                               alert("Error: Access is denied!");
                               } else if( err.code == 2) {
                               alert("Error: Position is unavailable!");
                               }
                           }
                           function showPosition(position){   
                           y = position.coords.latitude;   
                           z = position.coords.longitude;
                           console.log(y)
                           console.log(z)
                           var lattlong = new google.maps.LatLng(y, z);
                           var myOptions = {   
                               center: lattlong,   
                               zoom: 15,   
                               mapTypeControl: true,   
                               navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL
                               }   
                           }   
                           
                           // var myLatlng = {lat: 11.2588, lng: 75.7804};
                    
                           var map = new google.maps.Map(document.getElementById('map'), {
                               zoom: 12,
                               center: lattlong
                           });
                    
                           var marker = new google.maps.Marker({
                               position: lattlong,
                               map: map
                           });
                    
                           map.addListener('click', function(e) {
                               document.getElementById('demo').value = e.latLng.lat();
                               document.getElementById('demo1').value = e.latLng.lng();
                               marker.setPosition(e.latLng);
                           });
                           }
                       }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaz2SEa3J1UFz0wStoO5A8TgGLpTIpD90"></script>
                   



















<!-- <style>

    #map {
   
       width: 100%;
   
       height: 400px;
   
       background-color: grey;
   
   }
   .col1 {
      column-count: 3;
      column-gap: 50px;
    }
    .col2 {
      column-count: 2;
      column-gap: 50px;
    }
   
   </style>
   
    
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Zones</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-8">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD Zones</h5>
                                        <form method="POST" action="{% url 'addZone' %}" enctype="multipart/form-data" id="zoneform">
                                            {% csrf_token %} 
                                            <div class=col1>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Zone Name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='Zone Name' >
                                            </div>
                                        
                                            <div class="">
                                                <label for="exampleFormControlInput1">Choose Location</label>
                                                <button onclick=initMap() type="button" class="btn btn-success" id="exampleFormControlInput1"  >Choose Location</button>
                                            </div>
                                            
                                        </div>
                                        <div id="map" style="display: none;padding: top 20px;"></div>
                                        <div class=col1>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Latitude</label>
                                                <input class="form-control" id="demo" type="text" name="lat" readonly>
                                            </div>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Longitude</label>
                                                <input class="form-control" id="demo1" type="text" name="long" readonly>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class=col1>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Delivery Within Days</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_within_days' >
                                            </div>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Delivery Charge</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_charge' >
                                            </div>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Distance</label>
                                                <input class="form-control"  type="number" name="distance" onkeypress="return event.charCode >= 48" min="1" >
                                            </div>
                                        </div>
                                        <br><br>
                                        </form>
                                        <button class="btn btn-primary" type="submit" form="zoneform">Add</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listZone' %}"><button class="btn btn-primary" type="submit">Back</button></a>
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                               
                            </div>
                        </div>
                    </div>
                            <br>
                            </div>
                            </div>
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                
                        </div>
                    </div>
                 <div class="modal fade" id="modal-default">
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
            <script>
                function initMap() {
                   var y = document.getElementById("demo");
                   var z = document.getElementById("demo1");
                   var x = document.getElementById('map').style.display = "block";
                   
                   if (navigator.geolocation) {
                       var options = {timeout:60000};
                       navigator.geolocation.getCurrentPosition(showPosition, errorHandler, options);
                   } 
                   else { 
                       x.innerHTML = "Geolocation is not supported by this browser.";
                   }
                   function errorHandler(err) {
                       if(err.code == 1) {
                       alert("Error: Access is denied!");
                       } else if( err.code == 2) {
                       alert("Error: Position is unavailable!");
                       }
                   }
                   function showPosition(position){   
                   y = position.coords.latitude;   
                   z = position.coords.longitude;
                   console.log(y)
                   console.log(z)
                   var lattlong = new google.maps.LatLng(y, z);
                   var myOptions = {   
                       center: lattlong,   
                       zoom: 15,   
                       mapTypeControl: true,   
                       navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL
                       }   
                   }   
                   
                   // var myLatlng = {lat: 11.2588, lng: 75.7804};
            
                   var map = new google.maps.Map(document.getElementById('map'), {
                       zoom: 12,
                       center: lattlong
                   });
            
                   var marker = new google.maps.Marker({
                       position: lattlong,
                       map: map
                   });
            
                   map.addListener('click', function(e) {
                       document.getElementById('demo').value = e.latLng.lat();
                       document.getElementById('demo1').value = e.latLng.lng();
                       marker.setPosition(e.latLng);
                   });
                   }
               }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaz2SEa3J1UFz0wStoO5A8TgGLpTIpD90"></script>
           

             -->
               
{% endblock %}
