{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h3>Web Banner</h3>
                            <a href= "{% url 'listWebbanners' %}"><button class="btn btn-primary" type="submit">Banner List</button></a>
        
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Web Banner add</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                           
                            <div class="card-body">
                                <form method="POST" action="#" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-12">
                                           
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" >Banner Name <span
                                                        class="text-danger">*</span></label>

                                               
                                                    <select class="form-control" id="exampleFormControlSelect1" name='b_name' required>
                                                        <option selected hidden>Select Banner Name</option>
                                                        <option {% if "Banner1_Slider1" in cat_name %}hidden {% endif %}>Banner1_Slider1</option>
                                                        <option {% if "Banner1_Slider2" in cat_name %}hidden {% endif %}>Banner1_Slider2</option>
                                                        <option {% if "Banner1_Slider3" in cat_name %}hidden {% endif %}>Banner1_Slider3</option>
                                                        <option {% if "Banner2" in cat_name %}hidden {% endif %}>Banner2</option>
                                                        <option {% if "Banner3" in cat_name %}hidden {% endif %}>Banner3</option>
                                                        <option {% if "Banner4" in cat_name %}hidden {% endif %}>Banner4</option>
                                                        <option {% if "Banner5" in cat_name %}hidden {% endif %}>Banner5</option>
                                                        <option {% if "Banner6" in cat_name %}hidden {% endif %}>Banner6</option>
                                                        <option {% if "Banner7" in cat_name %}hidden {% endif %}>Banner7</option>
                                                        <option {% if "Banner8" in cat_name %}hidden {% endif %}>Banner8</option>
                                                        <option {% if "Banner9" in cat_name %}hidden {% endif %}>Banner9</option>
                                                    </select>
                                
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="val-category">Category <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <select  class="form-control" id="category"  onchange="getResult(this.value,'selectCity')"required="True">
                                                    <option>select</option>
                                                    <option value="1"> Category</option>
                                                    <option value="2">Subcategory</option>
                                                </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="subcategory">Category/Subcategory
                                                </label>
                                                <select class="form-control" id="selectCity" name='cp'  >
                                                    <option value="0">----select------</option>
                                                    <option value="0">----select------</option>
                                        
                                                 </select>
                                                </div>
                                              
                                            </div>
                                            <div class="form-group row">
                                              
                                                <div class="col-lg-4">
                                                    <label class="col-form-label" for="image1">Image1<span
                                                        class="text-danger">*</span>
                                                </label>
                                                    <input type="file" class="form-control" id="image1" name='image' required="True" >
                                                </div>
                                                
                                            </div>
                                            
                                                
                                            
                                          
                                           
                                            
                                            
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                           <a href="{% url 'listWebbanners' %}"> <button  type="button" class="btn btn-light">cancel</button></a>
                                          
                                        </div>
                                   
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->


        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script type="text/javascript">
        function getResult(value,eleId) {
            var searchValue = value
            console.log(searchValue)
            x = new XMLHttpRequest;
    
            x.open('GET', '?s=' + searchValue);
            x.send();
    
            x.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var c = document.getElementById(eleId);
                    c.innerHTML = x.response;
                    console.log(c)
                }
    
            }
    
        }
    
    
    </script>





























<!-- <style>
    .star{
       color:red;
       
    }
    .row {
        
        padding-top: 15px;
        padding-bottom:15 ;
        
    }

    .img {
        
        position:relative;
        
        
        width: 430px;
        height: 200px;
        
        right: 1px;
    }

    .col2 {
        column-count: 3;
        column-gap: 30px;


    }
    .col3 {
        column-count: 2;
        


    }
</style> -->

<!-- <main class="mt-100 mb-100">
    <div class="container">
        <h1>Add Web Banner Details</h1>
        <a href="{% url 'listWebbanners' %}"><button class="btn btn-primary" type="submit">Banner List</button></a>


        <div class="row">

            <div class="col-xl-10">
                <div class="card">

                    <div class="card-body">
                        <h5>Add Details</h5>
                        <form method="POST" action="#" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col2">
                                <div class="col-xl-6">
                                    <label for="exampleFormControlSelect1"><span>Banner Name<sup class="star">*</sup> </span></label>
                                    <select class="" id="exampleFormControlSelect1" name='b_name' required>
                                        <option selected hidden>Select Banner Name</option>
                                        <option {% if "Banner1_Slider1" in cat_name %}hidden {% endif %}>Banner1_Slider1</option>
                                        <option {% if "Banner1_Slider2" in cat_name %}hidden {% endif %}>Banner1_Slider2</option>
                                        <option {% if "Banner1_Slider3" in cat_name %}hidden {% endif %}>Banner1_Slider3</option>
                                        <option {% if "Banner2" in cat_name %}hidden {% endif %}>Banner2</option>
                                        <option {% if "Banner3" in cat_name %}hidden {% endif %}>Banner3</option>
                                        <option {% if "Banner4" in cat_name %}hidden {% endif %}>Banner4</option>
                                        <option {% if "Banner5" in cat_name %}hidden {% endif %}>Banner5</option>
                                        <option {% if "Banner6" in cat_name %}hidden {% endif %}>Banner6</option>
                                        <option {% if "Banner7" in cat_name %}hidden {% endif %}>Banner7</option>
                                        <option {% if "Banner8" in cat_name %}hidden {% endif %}>Banner8</option>
                                        <option {% if "Banner9" in cat_name %}hidden {% endif %}>Banner9</option>
                                    </select>
                                </div>
                                <div class="col-xl-7">
                                    <label for="exampleFormControlSelect1"><span>Select Parent<sup class="star">*</sup> </span></label>
                                    <select id="exampleFormControlSelect1"  onchange="getResult(this.value,'selectCity')" required>                                        <option>--------select--------</optin>
                                        <option value="1"> Category</option>
                                        <option value="2">Subcategory</option>
                                    </select>
                                </div>
                                <div class="col-xl-3">
                                    <label for="exampleFormControlInput1">Category/Subcategory</label>
                                    
                                    <select id="selectCity" name='cp'   >
                                        <option value="0">----select------</option>
                                        <option value="0">----select------</option>
                            
                                      </select>
                                    </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col3">
                                <div class="col-xl-11">
                                <label for="exampleFormControlSelect1"><span>Banner Image<sup class="star">*</sup> </span></label>
                                <label for="image"></label>
                                <div class="input-group">
                                    <div class="">
                                        <input type="file"  name="image"
                                            onchange="readURL(this);" required>
                                    </div>
                                    <div class="img">
                                        <img id="im"  src="" >
                                    </div>
                                </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#im')
                    .attr('src', e.target.result)
                    
                    .width(125)
                    .height(125);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script type="text/javascript">
    function getResult(value,eleId) {
        var searchValue = value
        console.log(searchValue)
        x = new XMLHttpRequest;

        x.open('GET', '?s=' + searchValue);
        x.send();

        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var c = document.getElementById(eleId);
                c.innerHTML = x.response;
                console.log(c)
            }

        }

    }


</script>
</script> -->
{% endblock %}