{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .star{
       color:red;
       
    }
    .col2 {
        column-count: 3;
        column-gap: 50px;
       
      
    }
    .col3 {
        column-count: 2;
        
       
      
    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Category</h1>
                    <a href= "{% url 'categorylist' %}"><button class="btn btn-primary" type="submit">Category List</button></a>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       

                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD CATEGORY</h5>
                                        <form method="POST" action="#" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="col2">
                                            <div class="col-xl-5">
                                            <label for="exampleFormControlInput1">Category Parent</label>
                                            <select  id="exampleFormControlSelect1" name='parent' >
                                                <option value="None">Select Parent</option>
                                                {% for i in categorys %}
                                                <option value={{i.id}}>{{i.category_name}}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1"><span>Category Name<sup class="star">*</sup> </span></label>
                                            <input  id="explicit-block-txt" type="text"   name='category_name' required="True"  onpaste="return false">
                                            </div>
                                            {% comment %} <div class="form-group">
                                            <label for="exampleFormControlInput1">Email</label>
                                            <input  id="exampleFormControlInput1" type="text" name='email' required="True" >
                                            </div> {% endcomment %}
                                            {% comment %} <div class="form-group">
                                            <label for="exampleFormControlInput1">Password</label>
                                            <input id="exampleFormControlInput1" type="password"  name='psw'>
                                            </div> {% endcomment %}
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">Category Slug</label>
                                            <input  id="exampleFormControlInput1" type="text"  name='category_slug' >
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-md-11">
                                            <label for="exampleFormControlInput1">Category Description</label>
                                            
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='category_description' ></textarea>
                                            
                                        </div>
                                        <br>
                                        <div class="col2">
                                            <div class="col-xl-6">
                                            <label for="exampleFormControlSelect1">Product Variations</label>
                                            <select  id="exampleFormControlSelect1" name='preference'  onchange="getOption(this,'selectCity')" multiple>
                                                {% for i in product_variations %}
                                                        <option value="{{i.id}}"> {{i.variation_name}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        
                                        
                                            <div class="col-xl-4">
                                            <label for="exampleFormControlInput1">Variance </label>
                                            
                                            <select id="selectCity" name="variance"  multiple >
                                                <option value="">Variation Option</option>
                                    
                                              </select>
                                            </div>
                                        </div> 
                                        <br>
                                        <div class="col2">
                                            <div class="col-xl-5">
                                            <label for="exampleFormControlInput1">Category Image</label>
                                            <input  id="exampleFormControlInput1" type="file"  name='category_image'  required="True">
                                            </div>
                                        
                                            <div class="col-xl-5">
                                            <label for="exampleFormControlInput1">Category Icon</label>
                                            <input  id="exampleFormControlInput1" type="file"  name='icon_image' required="True">
                                            </div>
                                        </div>
                                        <br>
                                        <button class="btn btn-primary" type="submit">ADD</button>
                                        <div class="form-sub-label-container">
                                           
                                           

                                        </div>
                                    </form>
                                    </div>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                            
                        </div>
                    </div>
                    <script type="text/javascript">
                        function getOption(sel,eleId) {
                                var opts = [],
                                    opt;
                                var len = sel.options.length;
                                for (var i = 0; i < len; i++) {
                                    opt = sel.options[i];

                                    if (opt.selected) {
                                    var k= opt.value;
                                    opts.push(k);

                                    }
                                }
                                var j=opts;
                                console.log(j)
                                // return opts;
                                x = new XMLHttpRequest;
                                x.open('GET','?load-options='+j);
                                x.send();
                                
                                x.onreadystatechange = function() {
                                    if (this.readyState == 4 && this.status == 200) {
                                        var c = document.getElementById(eleId);
                                        c.innerHTML = x.response;
                                    }
                              
                                };
                                
                                }
                    </script>
                    <script>
                        document.getElementById("explicit-block-txt").onkeypress = function(e) {
                        var chr = String.fromCharCode(e.which);
                        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
                        {   
                            alert("Speical Characther Not Allowed !!!!");
                            return false;  
                        }
                        };
                    </script>
                    
                </main>
               
 {% endblock %}