{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
          <div class="container-fluid">
              <div class="row page-titles mx-0">
                  <div class="col-sm-6 p-md-0">
                      <div class="welcome-text">
                  <h3>Organization</h3>
                  <a href= "{% url 'listOrganization' %}"><button class="btn btn-primary" type="submit">List Organization</button></a>
                 </div>
                 </div>
                 <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                      <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Organization</a></li>
                  </ol>
              </div>
              </div>
              
                  
                     
                  
                    
                    

<!-- ////////////////////Row//////////////////////////// -->
                      <div class="row">
                          <div class="col-xl-9 col-xxl-9">
                              <div class="card">
                                  
                                  <div class="card-body">
                                      <h5>Add Organization</h5>
                                  <form method="POST" action="{% url 'addOrganization' %}" enctype="multipart/form-data">{% csrf_token %}
                                  <div class="row">
                                  <div class="col-xl-12">
                                      <div class="form-group row">
                                          <!-- Company Name -->
                                          <div class="col-lg-6">
                                              <label class="col-form-label" for="val-product">Company Name<span
                                                  class="text-danger">*</span>
                                              </label>
                                          <input class="form-control" id="exampleFormControlInput1" type="text" name='name' required >
                                          </div>
                                          <!-- Contact Info -->
                                          <div class="col-lg-6">
                                              <label class="col-form-label" for="val-product">Contact Info <span
                                                  class="text-danger">*</span>
                                              </label>
                                          <input class="form-control" id="exampleFormControlInput1" type="text" name='address'required >
                                          </div>

                                      
                                          
                                      </div>    
                                      <div class="form-group row">
                                          <!--  Phone -->
                                          <div class="col-lg-6">
                                              <label class="col-form-label" for="val-product">Phone<span
                                                  class="text-danger">*</span>
                                              </label>
                                              <input class="form-control" id="exampleFormControlInput1" type="number"  oninput="this.value = Math.abs(this.value)" name='phone' min="1" required >
                                          </div>
                                          <!-- Address -->
                                          <div class="col-lg-6">
                                              <label class="col-form-label" for="val-product">Address<span
                                                class="text-danger">*</span>
                                              </label>
                                          <input class="form-control" id="exampleFormControlInput1" type="text" name='address' required>
                                          </div>

                                      
                                          
                                      </div> 
                                      <div class="form-group row">
                                          <!-- Logo-->
                                          <div class="col-lg-6">
                                            <label class="col-form-label" for="image1">Company Logo<span
                                              class="text-danger">*</span>
                                            </label>
                                          <input type="file" class="form-control" id="image1" name='image' required="True" >
                                      
                                              
                                          </div>
                                          

                                      
                                          
                                      </div> 
                                     
                                      
                                      
                                      
                                      
                                    
                                  </div>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                  <a href= "{% url 'listOrganization' %}"><button class="btn btn-light" type="button">cancel</button></a>
                                  </form>
                                  <br>
                                  
                                  </div>
                              </div>
                          </div>
                      
                         
                        
                                                   
                                               
                      </div>
                  </div>
              </div>
          
             
























<!-- <style>
    .main{
        padding-top: 20px;
        padding-left: 50px;
    }
    .form{
        width: 90%;
    }
    .img{
        padding-left: 6px;
    }
    .col2 {
      column-count: 2;
      column-gap: 50px;
    }
    .star{
       color:red;
       
    }
</style>
<div class="container mt-100 mb-100">
  <div class="row">

  <div class="col-md-8">
    <div class="card">
        
        <div class="card-body">
    <h1>Company Details</h1>
    <br>
    
    <form action="{% url 'addOrganization' %}" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
      <div class="col2">
        <div class="col-md-8">
          <label for="exampleFormControlInput1">Company Name</label>
          <input class="form-sub-label-container" id="exampleFormControlInput1" type="text" name='name' >
        </div>
        <div class="col-md-7 ">
          <label for="exampleFormControlInput1">Contact Info</label>
          <input class="form-sub-label-container" id="exampleFormControlInput1" onkeypress="return event.charCode >= 48" min="0" type="number" name='phone' >
        </div>
      </div>
      <br>
      <div class="col2">
        <div class="col-md-7">
        <label for="exampleFormControlInput1">Address</label>
        <textarea class="" id="exampleFormControlInput1" type="textarea"  name='address' ></textarea>
        </div>

        <div class="col-md-18">

        <label for="image"></label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" onchange="readURL(this);" required>
            <label class="custom-file-label" for="image"><span>Add Brand Logo<sup class="star">*</sup> </span></label>
          </div>
          <div class="img">
            <img id="im" src="" >
          </div>
        </div>
    
        </div>
      </div>
    
    
    <br>
        
        <button type="submit" class="btn btn-primary mr-2">Add</button>
    
  </form>
        
  {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
<script>
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#im')
                  .attr('src', e.target.result)
                  .width(90)
                  .height(90);
          };

          reader.readAsDataURL(input.files[0]);
      }
  }
</script>  -->

{% endblock %}