{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="content-body" style="padding-top: 2rem;"> 
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>Update Mobile Banner Details</h3>
                    <a href= "{% url 'listMobilebanners' %}"><button class="btn btn-primary" type="submit">Banner List</button></a>

                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Mobile Banner Update</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                   
                    <div class="card-body">
                        {% for i in category %}
                        <form method="POST" action="{% url 'update_mobilebanner' %}" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                   
                                    <div class="form-group row">
                                      
                                        <div class="col-lg-4">
                                            <label class="col-form-label" >Mobile Banner Name <span
                                                class="text-danger">*</span></label>

                                       
                                            <select class="form-control" id="exampleFormControlSelect1" name='b_name' required>
                                                <option selected hidden>Select Banner Name</option>
                                                <option {% if i.category_name == 'Mobile_Banner1_Slider1'%} selected {% endif %}> Mobile_Banner1_Slider1</option>
                                                <option {% if i.category_name == 'Mobile_Banner1_Slider2'%} selected {% endif %}> Mobile_Banner1_Slider2</option>
                                                <option {% if i.category_name == 'Mobile_Banner1_Slider3'%} selected {% endif %}> Mobile_Banner1_Slider3</option>
                                                <option {% if i.category_name == 'Mobile_Banner2'%} selected {% endif %}> Mobile_Banner2</option>
                                                <option {% if i.category_name == 'Mobile_Banner3'%} selected  {% endif %}> Mobile_Banner3</option>
                                                <option {% if i.category_name == 'Mobile_Banner4'%} selected {% endif %}> Mobile_Banner4</option>
                                                <option {% if i.category_name == 'Mobile_Banner5'%} selected {% endif %}> Mobile_Banner5</option>
                                                 <option {% if i.category_name == 'Mobile_Banner6'%} selected {% endif %}> Mobile_Banner6</option>
                                                  <option {% if i.category_name == 'Mobile_Banner7'%} selected {% endif %}> Mobile_Banner7</option>
                                                   <option {% if i.category_name == 'Mobile_Banner8'%} selected {% endif %}> Mobile_Banner8</option>
                                                    <option {% if i.category_name == 'Mobile_Banner9'%} selected {% endif %}> Mobile_Banner9</option>
                                              </select>
                        
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-form-label" for="val-category">Category <span
                                                class="text-danger">*</span>
                                        </label>
                                        <select  class="form-control" id="category"  onchange="getResult(this.value,'selectCity')"required="True">
                                            <option>--------select--------</optin>
                                                <option value="1" {% if c == 1 %} selected {% endif %}> Category</option>
                                                <option value="2" {% if c == 2 %} selected {% endif %}>Subcategory</option>
                                                
                                        </select>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-form-label" for="subcategory">Category/Subcategory
                                        </label>
                                        <select class="form-control" id="selectCity" name='cp'  >
                                            <option>-----------select--------------</option>
                                                        {% for  i in categorys %}
                                                        <option  value={{i.id}} {%if i.id == pr %}selected{% endif %}>{{i.category_name}}</option>
                                                        {% endfor %}
                                         </select>
                                        </div>
                                      
                                    </div>
                                    <div class="form-group row">
                                      
                                        <div class="col-lg-4">
                                            <label class="col-form-label" for="image1">Banner Image<span
                                                class="text-danger">*</span>
                                        
                                         {% if i.mobile_banner  %}<img src = "{{ i.mobile_banner.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.mobile_banner }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                        <input class="" id="exampleFormControlInput1" type="file" name='image' value="{{i.mobile_banner}}">
                                        </div>
                                        
                                    </div>
                                    
                                        
                                    
                                  
                                   
                                    
                                    <input type="hidden" value="{{i.id}}" name="bannerid" >
                                    <button type="submit" class="btn btn-primary">Update</button>
                                   <a href="{% url 'listMobilebanners' %}"> <button  type="button" class="btn btn-light">cancel</button></a>
                                  
                                </div>
                           
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->


<!--**********************************
   Support ticket button start
***********************************-->

<!--**********************************
   Support ticket button end
***********************************-->


<!--**********************************
Main wrapper end
***********************************-->

<!--**********************************
Scripts
***********************************-->
<script type="text/javascript">
function getResult(value,eleId) {
    var searchValue = value
    console.log(searchValue)
    x = new XMLHttpRequest;

    x.open('GET', '?s=' + searchValue);
    x.send();

    x.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var c = document.getElementById(eleId);
            c.innerHTML = x.response;
            console.log(c)
        }

    }

}


</script>

































<!-- <style>
    .star{
       color:red;
       
    }
.row {
    padding-top: 15px;
    padding-bottom:15 ;
    
    
}

.img {
        
        position:fixed;
        top: 329px;
        width: 550px;
        height: 200px;
        
    
}

.col2 {
    column-count: 3;
    column-gap: 30px;


}
.col3 {
    column-count: 2;
    column-gap: 50px;


}
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Update Mobile Banner Details</h1> 
                    <a href= "{% url 'listMobilebanners' %}"><button class="btn btn-primary" type="submit">Banner List</button></a>
                    
                   

                        <div class="row">
                            
                            <div class="col-md-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Details</h5>
                                        {% for i in category %}
                                        <form method="POST" action="{% url 'update_mobilebanner' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            
                                            <div class="col2">
                                                <div class="col-xl-9">
                                           
                                                <label for="exampleFormControlSelect1"><span>Banner Name<sup class="star">*</sup> </span></label>
                                                <select class="form-control" id="exampleFormControlSelect1" name='b_name' >
                                                <option selected hidden>Select Banner Name</option>
                                                  <option {% if i.category_name == 'Mobile_Banner1_Slider1'%} selected {% endif %}> Mobile_Banner1_Slider1</option>
                                                  <option {% if i.category_name == 'Mobile_Banner1_Slider2'%} selected {% endif %}> Mobile_Banner1_Slider2</option>
                                                  <option {% if i.category_name == 'Mobile_Banner1_Slider3'%} selected {% endif %}> Mobile_Banner1_Slider3</option>
                                                  <option {% if i.category_name == 'Mobile_Banner2'%} selected {% endif %}> Mobile_Banner2</option>
                                                  <option {% if i.category_name == 'Mobile_Banner3'%} selected  {% endif %}> Mobile_Banner3</option>
                                                  <option {% if i.category_name == 'Mobile_Banner4'%} selected {% endif %}> Mobile_Banner4</option>
                                                  <option {% if i.category_name == 'Mobile_Banner5'%} selected {% endif %}> Mobile_Banner5</option>
                                                   <option {% if i.category_name == 'Mobile_Banner6'%} selected {% endif %}> Mobile_Banner6</option>
                                                    <option {% if i.category_name == 'Mobile_Banner7'%} selected {% endif %}> Mobile_Banner7</option>
                                                     <option {% if i.category_name == 'Mobile_Banner8'%} selected {% endif %}> Mobile_Banner8</option>
                                                      <option {% if i.category_name == 'Mobile_Banner9'%} selected {% endif %}> Mobile_Banner9</option>
                                                </select>
                                               
                                                </div>
                                                <div class="col-xl-7">
                                                    <label for="exampleFormControlSelect1"><span>Select Parent<sup class="star">*</sup> </span></label>
                                                    <select id="exampleFormControlSelect1"  onchange="getResult(this.value,'selectCity')" required>
                                                        
                                                        <option>--------select--------</optin>
                                                            <option value="1" selected> Category</option>
                                                            <option value="2" selected>Subcategory</option>
                                                            {% if c == 1 %}
                                                            <option value="1" selected> Category</option>
                                                            {% elif c == 2 %}
                                                            <option value="2" selected>Subcategory</option>
                                                            {% endif %}
                                                        
                                                        
                                                    </select>
                                                    </div>
                                            
                                                    <div class="col-xl-3">
                                                        <label for="exampleFormControlInput1">Category/Subcategory</label>
                                                        
                                                        <select id="selectCity" name='cp'  >
                                                            <option>-----------select--------------</option>
                                                            {% for  i in categorys %}
                                                            <option  value={{i.id}} {%if i.id == pr %}selected{% endif %}>{{i.category_name}}</option>
                                                            {% endfor %}
                                                          </select>
                                                        </div>
                                            </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                            <div class="">
                                                  <div class="col-xl-5">
                                                    <label for="exampleFormControlSelect1"><span>Banner Image<sup class="star">*</sup> </span></label>
                                                    <label for="image"></label>
                                                    <div class="input-group">
                    
                                                        <div class="">
                                                            <input type="file"  name="image"
                                                                onchange="readURL(this);">
                    
                                                       
                                                            <img id="im" src = "{{ i.mobile_banner.url }}" alt="" style="max-width: 50px; max-height: 50px; width: 50%;">

                                                          </div>
                                                  
                                                 
                                                </div>
                                            
                                            </div>
                                        </div>
                                        <br>
                                           <input type="hidden" value="{{i.id}}" name="bannerid" >
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                           
                                        </form>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                           
                                                  
                        </div>
                    </div>
                    
                </main>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#im')
                    .attr('src', e.target.result)
                    .width(75)
                    .height(75);
                    
                    
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>            
<script type="text/javascript">
    function getResult(value,eleId) {
        var searchValue = value
        console.log(searchValue)
        x = new XMLHttpRequest;

        x.open('GET', '?s=' + searchValue);
        x.send();

        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var c = document.getElementById(eleId);
                c.innerHTML = x.response;
                console.log(c)
            }

        }

    }


</script>               -->
 {% endblock %}