{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>Customer List</h3>
                   
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Customer List</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


       
        <div class="row">
       
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-xxl-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        
                                        <form method="GET" action="{% url 'reportsearchcustomer' %}" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="row">
                                                <div class="col-xl-12">
                                                   
                                                    <div class="form-group row">
                                                      
                                                        
                                                        
                                                        

                                                        <div class="col-lg-2">
                                                            
                                                           
                                                        <input class="form-control" id="search" name="customer_name" style="margin-top:18%" type="text" placeholder="Customer Name">
                                                        
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <button class="btn btn-primary" type="submit" style="margin-top:18%">Search</button>
                                                            <a href= "{% url 'reportsearchcustomer' %}"><button class="btn btn-primary" type="button" style="margin-top:18%">Reset</button></a>                                                  
                                                      </div>
                                                      <div class="col-lg-2">
                                                      <a href="/media/reports/reports.csv"><button class="btn btn-primary" type="button" style="margin-top:18%">Export to Excel</button></a>
                                                      </div>
                                                      
                                                    </div>
                                                   
                                                
                                                  
                                                </div>
                                           
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Customer id</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th> Customer Phone Number</th>
                                        <th>Customer City</th>
                                        <th>Customer Postcode</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in response %}


                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.username}}</td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.phone}}</td>
                                        <td>{{i.city}}</td>
                                        <td>{{i.postcode}}</td>
                                        

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
         </div>
        </div>
    </div>
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable({
            "lengthChange": false,
            "pageLength": 10,
            "ordering":false
        });
    });
</script> 
<script>
     function addId(id){
        document.getElementById('productDel').value = id
    }
</script>


{% endblock %}



               
