{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="padding-top: 2rem;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3>Product Report</h3>
                   
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Product List</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


       
        <div class="row">
       
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-xxl-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        
                                        <form method="POST" action="{% url 'reportsearchproduct' %}" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="row">
                                                <div class="col-xl-12">
                                                   
                                                    <div class="form-group row">
                                                      
                                                        
                                                        
                                                        

                                                        <div class="col-lg-2">
                                                            
                                                           
                                                        <input class="form-control" id="search" name="product_name" style="margin-top:18%" type="text" placeholder="Search Products">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <button class="btn btn-primary" type="submit" style="margin-top:18%">Search</button> 
                                                            <a href= "{% url 'reportsearchproduct' %}"><button class="btn btn-primary" type="button" style="margin-top:18%">Reset</button></a>                                                  
                                                      </div>
                                                      <div class="col-lg-2">
                                                      <a href="/media/reports/report.xlsx"><button class="btn btn-primary" type="button" style="margin-top:18%">Export to Excel</button></a>
                                                      </div>
                                                      
                                                    </div>
                                                   
                                                
                                                  
                                                </div>
                                           
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Product Id</th>    
                                        <th>Product Image</th>                                               
                                        <th>Product Name</th>
                                        <th>Parent Category</th>
                                        <th>Sub Category</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}


                                    <tr>
                                        <td>{{product.id}}</td>
                                        <td> <img src = "{{product.product_image1.url}}" alt="" style="max-width: 100px; max-height: 100px; width: 70%;"></td>
                                        <td>{{product.product_name}}</td>
                                        <td>{{product.maincategory.category_name}}</td>
                                        <td>{{product.subcategory.category_name}}</td>
                                        
                                        

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
         </div>
        </div>
    </div>
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable({
            "lengthChange": false,
            "pageLength": 10,
            "ordering":false
        });
    });
</script> 
<script>
     function addId(id){
        document.getElementById('productDel').value = id
    }
</script>


{% endblock %}































<!-- <style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
<style>
    
    .reset{
        padding-right: 10px;
        padding-top: 10px;
        
        position:absolute;
   top: 0;
   right:0;
    }
    .sbtn{
        padding-top: 10px;
    }
    .btns{
        backface-visibility: hidden;
        border: hidden;
    }
    .page{
        float: right;
    }
    .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
    
    
</style> -->
                <!-- <main class="mt-100 mb-100">
                    <div class="container">
                        <h1>Product Report</h1>
                    </div>                
                     <div class="container mt-100 mb-100">                    
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="card mb-4">
                                     <div class="card-body">
                                         <div class="reset">
                                            <a href= "{% url 'reportsearchproduct' %}"><button class="btn btn-primary"  type="submit">Reset</button></a>
                                        </div>
                                        <div class="form-group">
                                            <a href="/media/reports/report.xlsx"><button style=" background-color: rgb(0, 0, 0);color:white;">Export to Excel</button></a>
                                        </div>
                                         <div class="row">
                                            <form class="form-inline my-2 my-lg-0" method="POST" id="searchForm" action="{% url 'reportsearchproduct' %}">
                                                {% csrf_token %}
                                                
                                                <div class="form-group">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="product_name" type="text" placeholder="Search Products">
                                                </div>
                                            
                                            &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit" form="searchForm">search</button>
                                        </form>
                                        </div>
                                        <br>
                                         <div class="row">
                                             <div class="col-xl-12">
                                                 <div class="table01">
                                                     <table id="table1">
                                                         <div class="col-xl-3">
                                                             </div>          
                                                         <thead>
                                                             <tr>
                                                                <th>Product Id</th>    
                                                                <th>Product Image</th>                                               
                                                                <th>Product Name</th>
                                                                <th>Parent Category</th>
                                                                <th>Sub Category</th>
                                                             </tr>
                                                         </thead>
                                                         <tbody id="searchResult">
                                                             {% for product in products %}
                                                             <tr>
                                                                <td>{{product.id}}</td>
                                                                <td> <img src = "{{product.product_image1.url}}" alt="" style="max-width: 100px; max-height: 100px; width: 70%;"></td>
                                                                <td>{{product.product_name}}</td>
                                                                <td>{{product.maincategory.category_name}}</td>
                                                                <td>{{product.subcategory.category_name}}</td>
                                                                
                                                                
                                                            </tr>
                                                     {% endfor %}
                                                         </tbody>
                                                     </table>
                                                 </div>
                                             </div>
                                         </div>
                                         </div>
                                         </div>
                                         </div>
                                         </div>
                                         </div>
                                         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                         <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                         <script>
                                             $(document).ready(function () {
                                                 $('#table1').DataTable({
                                                     "lengthChange": false,
                                                     "pageLength": 10,
                                                     "ordering":false,
                                                     "searching":false,
                                                 });
                                             });
                                         </script> 
                                     </main>
                                      -->
                
