
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body" style="padding-top: 2rem;">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Today Order Details </div>
                            <div class="stat-digit"> {{total_order_details }}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Completed</div>
                            <div class="stat-digit"> {{completed}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Accepted</div>
                            <div class="stat-digit">  {{accepted}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Out for delivery</div>
                            <div class="stat-digit">  {{out_of_delivery}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
      
        <div class="row">
         
          
        
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">New Orders</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Order ID</th>
                                        <th>Order Date</th>
                                        <th>Customer</th>
                                        <th>Total Orders</th>
                                        <th>Payment Method</th>
                                        <th>Payment Status</th>
                                        <th>Order Status</th>
                                        <th>Show</th>
                                    </tr>

                                </thead>
                                <tbody>


                                    {% for order in response %}
                                     <tr>
                                         <td>{{order.id}}</td>
                                         <td>{{order.order_id}}</td>
                                         <td>{{order.order_date}}</td>
                                         <td>{{order.user.username}}</td>
                            {% comment %}<td>{{order.vendor_id_id}}</td>{% endcomment %}
                                         <td>{{order.order_total}}</td>
                                         <td>{{order.payment_method}}</td>
                                         <td>{{order.payment_status}}</td>
                                         <td>{% if order.status != 'Ordered'  %}
                                             {{order.status}}
                                             {% endif %}

                                         
                                         
                                         {% if order.status == 'Ordered'  %}

                                         
                                             {% if order.status != 'Accepted' and order.status != 'Order Cancel' %}
                                             <div class="col-sm-8">
                                             <a href="{% url 'accept' %}?action=1&id={{ order.id }}">
                                                 <!-- <button class="badge badge-success badge-pill">Accept</button> -->
                                             <button class="btn btn-danger" >Accept</button>
                                             </a>
                                             </div>
                                             <div class="col-sm-8">
                                                 <br>
                                             <a href="{% url 'accept' %}?action=0&id={{ order.id }}">
                                                 <!-- <button class="badge badge-success badge-pill">Cancel</button> -->
                                             <button class="btn btn-success">Cancel</button>
                                             </a>
                                             </div>
                                             {% elif order.status == 'Accepted' %}

                                             &nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-success">Accepted</span>

                                             {% elif order.status == 'Order Cancel' %}

                                             &nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-danger">Cancelled</span>

                                             {% endif %}
                                             {% endif %}
                                         
                                         </td>
                                         <td>
                                             <!-- <a href="client_api/show_details/{{order.id}}">Show Details</a> -->
                                             <a  href="showdetails/{{order.id}}" target="_blank">Show Details</a>
                                         </td>
                                     
                                     </tr>
                                     {% endfor %}
                                    
                                     
                                 </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Today Orders </div>
                            <div class="stat-digit"> {{order_total.order_total__sum}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Order Cancel</div>
                            <div class="stat-digit">  {{order_cancel}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Sales value</div>
                            <div class="stat-digit"> {{salesvalues.subtotal__sum}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Customer</div>
                            <div class="stat-digit">{{customers}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
    </div>
</div>
                {% endblock %}