               
{% extends 'base.html' %}
{% load static %}
{% block content %}
               


 <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h3>Push Notification </h3>
                    
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Push Notification Email</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-9 col-xxl-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Push Notification Email</h5>
                                    <form method="POST" action="{% url 'EmailNotification' %}">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- From -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">From <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="email" name='From' required >
                                            </div>
                                            <!-- Host -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Host <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='Host'required >
                                            </div>

                                        
                                            
                                        </div>    
                                        <div class="form-group row">
                                            <!-- Port -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Port<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number"   name='Port'  required >
                                            </div>
                                            <!-- User Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Username<span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='Username' required >
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <!-- Password-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Password <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text"  name='Password'  required >
                                            </div>
                                            <!-- subject -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Subject
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text"  name='Subject'  >
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label class="col-form-label" for="val-product">Body<span
                                                    class="text-danger">*</span>
                                                </label>
                                                <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='product_description' required> </textarea>
                                            </div>



                                        </div>
                                       
                                        
                                        
                                        
                                        
                                      
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href= "{% url 'dashboard' %}"><button class="btn btn-light" type="button">cancel</button></a>
                                    </form>
                                    <br>
                                    
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>




{% endblock %}



























