
  
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    
    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    .btn{
        
        background-color: rgb(95, 130, 194);
        color: white;
    }
   
   
    </style>
</head>

<body>
    
    

    <div class="invoice-box">
        <div>
           
            <!-- <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;" alt="uploaded image placeholder" > -->
            <!-- <img src="/products/error.jpg" style="width:100%; max-width:300px;" alt="uploaded image placeholder" > -->
            <!-- {% for i in logo %}<img style="display:block;" width="300px" height="200px" src="{{ i.icon_image.url }}" >{% endfor %} -->
            <!-- <img src="/products/{{ brand.url }}" style="width:100%; max-width:300px;" alt="uploaded image placeholder" > -->
            
            
        </div>
        
        


        <div>
        
            <a  href="{% url 'pdf' id=orders.id%}"><button class="btn">Download</button></a>
        </div>
        
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                       
                            <tr>
                            
                            <td>
                                <h3>Invoice</h3>
                                Order Id:{{orders.id}}<br>
                                Order Date:{{orders.order_date}}<br>
                                Delivery Date:{{orders.delivery_date}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            
                            <td>
                                Name:{{orders.user.username}}<br>
                                Customer Id:{{orders.user.id}}<br>
                                Phone:{{orders.user.phone}}<br>
                                Email:{{orders.user.email}}<br>
                            </td>
                            <td>
                                
                                Address:{{orders.user.address}}
                                
                                
                                

                            </td>
                            
                            
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Payment Details
                </td>             
               
        
                      
                
                    
                
            </tr>
            <tr>
                <td>
                    Payment Status:{{orders.payment_status}}<br>
                    Payment Method:{{orders.payment_method}}
                </td>
            </tr>
                
                
          
            
            <tr class="heading">
                <td>
                    Order Details
                </td>
                
               
        </table>
        <table width="100%" >
            
        
            <tr>
                <td><b>Id</b></td>
                <td style="text-align:left"><b>Product Name</b></td>
                <td><b>Preference</b></td>
                <td><b>Variance</b></td>
                <td><b>Product_qty</b></td>
                <td><b>Product_price</b></td>
                <td><b>Subtotal</b></td>
            </tr>
            {% for k in orderd %} 
                <tr >
                    <td>{{k.product_id_id}}</td>
                    {% for m in pro %}
                    <td style="text-align:left">{{m.product_name}}</td>
                    {% endfor %} 
                    {% for s in preference%}
                    <td>{{s.variation_name}}</td>
                    {% endfor %}
                    {% for i in variance%}
                    <td>{{i.variationOptionName}}</td>
                    {% endfor %}
                    <td>{{k.product_qty}}</td>
                    <td>{{k.product_price}}</td>
                    <td>{{k.subtotal}}</td>
        
                </tr>
                {% endfor %}
                
                </table>
                
             
    </div>
      
</body>
</html>


    





