{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
    
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" style="padding-top: 2rem;"> 
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                    <h1>COURIER</h1>
                    <a href= "{% url 'listCourier' %}"><button class="btn btn-primary" type="submit">LIST COURIER</button></a>
                   </div>
                   </div>
                   <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update Courier</a></li>
                    </ol>
                </div>
                </div>
                
                    
                       
                    
                      
                      

<!-- ////////////////////Row//////////////////////////// -->
                        <div class="row">
                            <div class="col-xl-9 col-xxl-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE COURIER</h5>
                                    <form method="POST" action="{% url 'updateCourier' courierid=courier.id %}" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <!-- Courier Name -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier Name <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='name' value="{{courier.name}}"required>
                                            </div>
                                            <!-- Courier Address -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier Address <span
                                                    class="text-danger">*</span>
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='address' value="{{courier.address}}"required>
                                            </div>

                                        
                                            
                                        </div>    
                                        <div class="form-group row">
                                            <!-- Courier Phone -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier Phone <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number"  oninput="this.value = Math.abs(this.value)" name='phone' min="1" value="{{courier.phone}}"required>
                                            </div>
                                            <!-- Courier Address -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier City 
                                                </label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='city' value="{{courier.city}}">
                                            </div>

                                        
                                            
                                        </div> 
                                        <div class="form-group row">
                                            <!-- Courier Postcode-->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier Postcode <span
                                                    class="text-danger">*</span>
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" min="1" oninput="this.value = Math.abs(this.value)" name='postcode' value="{{courier.postcode}}" required>
                                            </div>
                                            <!-- Courier Website Url -->
                                            <div class="col-lg-6">
                                                <label class="col-form-label" for="val-product">Courier Website
                                                </label>
                                                <input class="form-control" id="exampleFormControlInput1" type="url" placeholder="https://example.com"
                                                pattern="https://.*"  name='website_url' value="{{courier.website_url}}" >
                                            </div>

                                        
                                            
                                        </div> 
                                       
                                        
                                        
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href= "{% url 'listCourier' %}"><button class="btn btn-primary" type="button">Back</button></a>
                                        
                                      
                                    </div>
                                    </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </div>








 {% endblock %}